<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutusss.css') }}">

</head>


<body>
    <section class="hero_section">

    </section>
    
    <h1 class="container">About Us</h1>


    <section class="aboutus container">

        <p>
            DOCINE is a disease prediction application which uses machine learning and deep learning. This application was developed by  Roshaan, Roheth for our users. The main motive of this application is to predict whether you have the disease or not within few minutes from your home. This is the easiest way which gives us the maximum accuracy. 
            Two methods are used here i.e. deep learning and machine learning. Diseases like Pneumonia, Malaria, Brain Tumor and COVID are predicted using deep learning whereas Diabetes, Heart diseases, Chronic Kidney diseases, Breast Cancer and Parkinson's disease are predicted using machine learning by the data provided from your side.
            Founded in 2022 and has beginned from Chennai. Our users are from many parts of the world.
            We hope you enjoy our service as much as we enjoy offering them to you.
            
            Sincerely,
            Us
        </p>

    </section>

    <!-- <h1 class="container">Our Team</h1>

    <section class="container picture">


        <div class="card">

           <img src="{{ url_for('static', filename='img1.jpg') }}" alt="">
           <div class="inside">
              <h2>ROSHAAN S</h2>
              <div><a href="https://www.linkedin.com/in/roshaan-s-70600a212/"><i class="fa-2x fa-brands fa-linkedin"></i></a> <a href="https://instagram.com/thisisroshaan?igshid=YmMyMTA2M2Y="><i class="fa-2x fa-brands fa-instagram-square"></i></a> </div>
           </div>
     
          

        </div>

        <div class="card">

            <img src="{{ url_for('static', filename='img2.jpg') }}" alt="">
            <div class="inside">
                <h2>ROHETH S</h2>
                <div><a href="https://www.linkedin.com/in/roheth-s-1541a7212/"><i class="fa-2x fa-brands fa-linkedin"></i></a>  <a href="https://instagram.com/thisisroheth?igshid=YmMyMTA2M2Y="><i class="fa-2x fa-brands fa-instagram-square"></i></a></div>
             </div>
            
 
         </div> -->

        


     <!-- </section>

     <section class="footer">
            
        <div class="footer">
            <span>
                 <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
            </span>
            
        </div>

    </section> -->





</body>


</html>