<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brain Tumor Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

       
        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
                A Brain Tumor disease diet is a healthy-eating plan that's naturally rich in nutrients and low in fat and calories. 
                Key elements are fruits, vegetables and whole grains.
             </p>
             <br>
            </div>

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                    <p>
                     1. Broccoli
                     <br>
                     2. Yogurt
                     <br>
                     3. Tea
                     <br>
                     4. Dark, leafy greens

                    </p>

               

               </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                  There are several foods a person should try to limit when following the Brain Tumor diet. 

                  Foods containing the following can work against your goal of a Brain-healthy diet.
              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

               <p>

                1. Unpasteurised milk or yoghurt made from unpasteurised milk
                <br>

                2. Certain soft, slow-ripened or blue-veined cheeses or cheeses made from unpasteurised milk (e.g. brie, camembert, Danish blue, stilton and gorgonzola).</h3>
                <br>

                3. Eggs (unless they are marked with a “Lion mark” and cooked until the white and yolk are solid)
                <br>
                4. Rare or undercooked meat and poultry

               </p>

          </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1>The Plate Method</h1>
            <br>

            <p>
               One way to begin is to create a daily meal plan that emphasizes vegetables, fruits and whole grains and limits high-fat foods (such as red meat, cheese and baked goods) and high-sodium foods (such as canned or processed foods).
               <br>Follow these steps when preparing your plate:
            </p>

         </div>

         <div class="content">
            
            <ul class="list">

                <li>Eggs.</li>
                <li>Lean meat, chicken, and fish.</li>
                <li>Beans, nuts, and seeds.</li>
                <li>Cheese,nuts and seeds.</li>
                <li>Add a serving of fruit or dairy and a drink of water or unsweetened tea or coffee.</li>

            </ul>

         </div>

        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
                When planning meals, take into account your size and activity level. The following menu is tailored for someone who needs 1,000 to 1,200 calories a day.
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - milk (1 cup) + soaked almond (8) + walnut (2-3) + idly(2).</li>
                <li><strong>Lunch</strong> - rice (300gms), khicadi(1-2 bowl), fish curry (1-2 pieces),water.</li>
                <li><strong>Snacks</strong> - Dark green leafy vegetables, fruit salad, milkshake.
                </li>
                <li><strong>Dinner</strong> - Salmon, porridge(1-2 bowls) , kadhi (1/2 bowl), milk.</li>
             
            </ul>

        </section>

        <section class="results container">

         <div class="title">

            <h1>What are the results of a Brain Tumor diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
            If you follow the diet eat more fruits, vegetables, whole grains, and low-fat dairy foods and less red meat, sweets, saturated fat, and sodium you may lower your blood pressure by 8 to 14 points.

            </p>
            <br>

            <p>
               It will also help you control your weight and may lower your risk of cancer.
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X4Cy6JG3wJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>

        </section>

        <!-- <section class="footer">
            
         <div class="footer">
            <div class="footer">
               <span>
                  <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
               </span>
               
           </div>
            
         </div>

        </section> -->
       

   <body>

</html>