<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brain Tumor Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='braintumorwpss.css') }}">

    </head>



    <body>

        <section class="hero_section">

        

        </section>

        <section>
            <div class="def container">

                <p class="p1">
                    A brain tumor is a mass or growth of abnormal cells in your brain. Many different types of brain tumors exist. Some brain tumors are noncancerous (benign), and some brain tumors are cancerous (malignant).

                   
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                    In antiquity, brain tumors resulted in death and were preceded by longstanding symptoms of headaches, seizures, and coma. Physicians recognized that these symptoms were caused by increased intracranial pressure and developed skull trepanation to relieve it.
                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <p class="p2">

                    A cancerous or non-cancerous mass or growth of abnormal cells in the brain.
                    Tumours can start in the brain, or cancer elsewhere in the body can spread to the brain.
                    Symptoms include new or increasingly strong headaches, blurred vision, loss of balance, confusion and seizures. In some cases, there may be no symptoms.

                    Breast Cancer diseases types:
                    Brain tumors have more than 120 different types, according to the National Brain Tumor Society. Some brain tumors, such as a glioblastoma multiforme, are malignant and may be fast-growing. Other types of brain tumors, such as a meningioma, may be slow-growing and benign.
                </p>



            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <li>New onset or change in pattern of headaches.
                    </li>
                    <li>Headaches that gradually become more frequent and more severe.
                    </li>
                    <li>Gradual loss of sensation or movement in an arm or a leg.
                    </li>
                    <li>Vision problems, such as blurred vision, double vision or loss of peripheral vision.
                    </li>

                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment</h1>
                
                <p class="p3">
                           Proton Beam Therapy is ideally suited to treat brain tumours and is the global benchmark of excellence in treating paediatric brain tumours.
                </p>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>

                
                <p class="p2">The only known environmental cause of brain tumors is having exposure to large amounts of radiation from X-rays or previous cancer treatment. Some brain tumors occur when hereditary conditions are passed down among family members.</p>
               
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>Poisoning or exposure to toxic substances</l1>
                    <li>Infection</li>
                    <li>Stroke</li>
                    <li>Heart attcack</li>

                </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>

                <ul class="list5">
                    <li>Get at least 150 minutes per week of aerobic exercise, such as walking or cycling</li>
                    <li>It is best not to drink alcohol</li>
                    <li>Be physically active and avoid time spent sitting</li>
                    <li>Get to and stay at a healthy weight</li>

                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="/brainform"><button>predict</button></a>
            </div>
        </section>



        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->


    </body>
    
</html>