<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breast Cancer Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='breastcancerwpss.css') }}">


    </head>



    <body>

        <section class="hero_section">


        </section>

        <section>
            <div class="def container">

                <p class="p1">
                    A cancer that forms in the cells of the breasts.
                    Breast cancer can occur in women and rarely in men.
                    Symptoms of breast cancer include a lump in the breast, bloody discharge from the nipple and changes in the shape or texture of the nipple or breast.
                    Its treatment depends on the stage of cancer. It may consist of chemotherapy, radiation, hormone therapy and surgery.
                   
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                    Humans have known about breast cancer for a long time.In ancient Greece, people made votive offerings in the shape of a breast to the god of medicine. And Hippocrates described the stages of breast cancer in the early 400s B.C.E.
                    In the first century, doctors experimented with surgical incisions to destroy tumors. They also thought that breast cancer was linked with the end of menstruation. This theory may have prompted the association of cancer with older age.

                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">
            <p class="p2">

                A cancer that forms in the cells of the breasts.
                    Breast cancer can occur in women and rarely in men.
                    Symptoms of breast cancer include a lump in the breast, bloody discharge from the nipple and changes in the shape or texture of the nipple or breast.
                    Its treatment depends on the stage of cancer. It may consist of chemotherapy, radiation, hormone therapy and surgery.
            </p>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <li>New lump in the breast or underarm (armpit)</li>
                    <li>Thickening or swelling of part of the breast</li>
                    <li>Irritation or dimpling of breast skin</li>
                    <li>Pulling in of the nipple or pain in the nipple area</li>

                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment</h1>
                
                <p class="p3">
               Surgery- Its treatment depends on the stage of cancer. It may consist of chemotherapy, radiation, hormone therapy and surgery.
               Mammaplasty, Tissue expansion, Lymph node dissection, Lumpectomy and Mastectomy
                </p>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>
                <br>

                <p>Cancer is caused by changes (mutations) to the DNA within cells. The DNA inside a cell is packaged into a large number of individual genes, 
                    each of which contains a set of instructions telling the cell what functions to perform, as well as how to grow and divide
                </p>
                   
                
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>hardness due to scar tissue that can form at the site of the incision</li>
                    <li>wound infection or bleeding</li>
                    <li> swelling of the arm due to lymph node removal, called lymphedema</li>
                    <li>phantom breast pain, including symptoms such as unpleasant itching, a sensation of “pins and needles,” pressure, and throbbing</li>


                </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>

                <ul class="list5">
                    <li>Get at least 150 minutes per week of aerobic exercise, such as walking or cycling</li>
                    <li>It is best not to drink alcohol</li>
                    <li>Be physically active and avoid time spent sitting</li>
                    <li>Get to and stay at a healthy weight</li>

                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="/breastcancerform"><button>predict</button></a>
            </div>
        </section>


      
        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->


    </body>
    
</html>