<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breast Cancer Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
               Studies have found that breast cancer survivors whose eating patterns include more vegetables, fruits, whole grains, chicken, and fish tend to live longer than those who eat more refined sugars, fats, red meats (such as beef, pork, and lamb), and processed meats (such as bacon, sausage, luncheon meats, and hot dogs).

             </p>
             <br>
             <p>
               There are many different foods you can eat to kill cancer cells; here are some of the most effective: legumes, flaxseeds, tea, garlic, whole grains, and more. All of these foods have been studied and shown to have beneficial effects at inhibiting the growth of cancer cells in the body.

            </p>
            
      
         

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                 <h3>1. A variety of fruits and vegetables, including salad </h3> <br>
                 <p>A study of 91,779 women found that following a diet comprising mainly plants could cut the risk of developing breast cancer by 15%.

               </p>
                  <br>

                </div>

                 <div>

                 <h3>2. Fiber-Rich Foods</h3> <br>
                 <p>
                    Dietary fiber includes all parts of plant foods that your body can't digest or absorb. 
                 </p>

                 <ul class="list">
                    <li>Nuts</li>
                    <li>Berries</li>
                    <li> Avocados</li>
                    <li>Oats</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>3. Soy</h3> <br>
                 <p>Soy is a healthful food source that may help reduce the risk of breast cancer. It is a plant based product that is rich in protein, healthful fat, vitamins, and minerals but low in carbohydrates. It also contains antioxidants known as isoflavones.

               </p>
               <br>
                
                </div>

                 <div>

                 <h3>4. Good-Fats </h3> <br>
                 <p>Fatty foods can lead to obesity, and people with obesity appear to have a higher risk of developing cancer, including breast cancer.

               </p>
                 <br>


                 <ul class="list">
                    <li>Cheese</li>
                    <li> Dark chocolate</li>
                    <li>Whole eggs </li>
                    <li>Fatty fish</li>
                 </ul>
                </div>

            </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                  Foods that may increase the risk of different kinds of cancer, including breast cancer, include:


              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

                <h3>1. Alcohol
               </h3>
                <br>

                <p>
                  Studies have identified a link between regular alcohol consumption and an increased risk of breast cancer. report that alcohol may increase estrogen levels and cause damage to DNA. They also note that women who drink three alcoholic beverages per week increase their risk of developing breast cancer by 15%.



               </p>
                <br>

            </div>

             <div>

                <h3>2. Sugar</h3>
                <br>

                <p>
                  In research from 2016, mice that ate a diet that was as rich in sugar as the typical diet in the U.S. were more likely to develop mammary gland tumors similar to breast cancer in humans.


                </p>
                <br>

            </div>

             <div>

                <h3>3. Fat </h3>
                <br>

                <p>
                  Studies suggest that not all fats are bad. Although fat from processed foods appears to increase the risk of breast cancer, some plant based fats may help reduce it.


                </p>
                <br>

             </div>

             <div>

                <h3>4. Red meat</h3>
                <br>

                <p>
                  Some studies have found a link between red meat and an increased risk of breast cancer, especially if a person cooks the meat at high temperatures, which can trigger the release of toxins.


                </p>
                <br>

            </div>

         </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1>The Plate Method</h1>
            <br>

            <p>
                The American Diabetes Association offers a simple method of meal planning. 
                In essence, it focuses on eating more vegetables. Follow these steps when preparing your plate:
            </p>

         </div>

         <div class="content">
            
            <ul class="list">

                <li>Fill half of your plate with nonstarchy vegetables, such as spinach, carrots and tomatoes.</li>
                <li>Fill a quarter of your plate with a protein, such as tuna, lean pork or chicken.</li>
                <li>Fill the last quarter with a whole-grain item, such as brown rice, or a starchy vegetable, such as green peas.</li>
                <li>Include "good" fats such as nuts or avocados in small amounts.</li>
                <li>Add a serving of fruit or dairy and a drink of water or unsweetened tea or coffee.</li>

            </ul>

         </div>

        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
                When planning meals, take into account your size and activity level. The following menu is tailored for someone who needs 1,200 to 1,600 calories a day.
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - The American Cancer Society recommends eating at least 2½ cups of vegetables and fruits each day, limiting red and processed meats, and choosing whole-grain instead of refined-grain foods. A healthy breakfast focuses on fruits, vegetables, whole grains, low-fat dairy products, and lean proteins.
                </li>
                <li><strong>Lunch</strong> - Whole grains: 25-30 grams of fiber,Fruits and veggies (2 bowls),milk (1 glass).</li>
                <li><strong>Snacks</strong> - Eggs, nutts, braed with peanut butter.</li>
                <li><strong>Dinner</strong> - Small baked potato, 1/2 cup carrots, 1/2 cup green beans, medium white dinner roll, unsweetened iced tea, milk.</li>
             
            </ul>

        </section>

        <section class="results container">

         <div class="title">

            <h1>What are the results of a diabetes diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
               A healthy diet can help reduce the risk of heart disease, diabetes, stroke, and certain cancer types. A healthy diet can also help you get to and stay at a healthy weight. Overweight and obesity increase the risk for getting breast cancer. What's less clear is the link between breast cancer risk and any one food type.

            </p>
            <br>

            <p>
               Generally speaking, research shows that eating a balanced diet with plenty of fruit, vegetables, whole grains, poultry, and low-fat dairy products may have a positive impact on cancer survival. In contrast, eating processed foods, high-sugar foods, or fried foods may have a negative impact.
               And consuming low-fat dairy products can reduce your risk of low bone mass in the future.
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/W7s63d8v6m4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>

        </section>

        <!-- <section class="footer">
            
         <div class="footer">
            <span>
               <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
            </span>
            
        </div>

        </section> -->

   <body>

</html>