<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breast cancer Hospital</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hospitalss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <h1 class="heading">Best Hospitals for Cancer</h1>



        <section class=" container hosp1  ">


            <img src="{{ url_for('static', filename='bcanc1.webp') }}" alt="">

            <div class="content">
                
                <h1>Adyar Cancer Hospital, Chennai</h1>
                <br>

                <p>
                    The Adyar cancer hospital is one of the most popular cancer treatment centers in Chennai where excellent treatment along with outstanding medical services is provided.
                    The hospital has successfully performed a number of cancer surgeries which has helped the patients to recover from the cancer trauma to boost their mental strength. 
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    (+044) 2220 9150
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    No:38, Sardar Patel Road, Adyar, Chennai - 20
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="http://www.cancerinstitutewia.in/CIWIA/ps.html"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://cancerinstitutewia.in/CI-WIA/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Adyar+Cancer+Institute/@13.0087651,80.2453826,17z/data=!3m1!4b1!4m5!3m4!1s0x3a52679695bdc439:0xd654beb9c98b1818!8m2!3d13.0087651!4d80.2475713">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='bcanc2.jpg') }}" alt="">

            <div class="content">

                <h1>MIOT INSTITUTE OF CANCER CURE, CHENNAI</h1>
                <br>

                <p>
                    At the MIOT Institute of Cancer Cure, we know what it takes to beat cancer.
                     And we believe in cancer care that does not give up.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    +91 44 22492288
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    MIOT International

                    4/112, Mount Poonamalle Road,
                    
                    Manapakkam, Chennai - 600 089
                    
                    Tamil Nadu, INDIA
                    
                    
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.miotinternational.com/epilepsy-clinic/"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.miotinternational.com/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/MIOT+International/@13.0225921,80.1841817,17z/data=!3m1!4b1!4m5!3m4!1s0x3a5260d2a1750661:0xe3a591bb494f9792!8m2!3d13.0225921!4d80.1863704">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>


        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='bcanc3.webp') }}" alt="">

            <div class="content">

                <h1>Apollo Hospital, Greams Road, Chennai</h1>
                <br>

                <p>
                    The Apollo Hospital, Greams Road is one of the preferred destinations for cancer patients in India. The clinical and surgical department follows quality standards in all its treatment measures.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1860 500 1066
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    Apollo Hospital
                    No.21, Greams Lane,
                    Off Greams Road,
                    Chennai, Tamil Nadu - 600006
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.askapollo.com/?utm_source=referral&utm_medium=homepagebanner"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.apollohospitals.com/departments/cancer/hospitals/chennai/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps?q=apollo+greams+road&rlz=1C1VDKB_enIN983IN983&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjwrvX1sbv3AhWQy4sBHW1NCLwQ_AUoAXoECAIQAw">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>

        </section>
 -->

    </body>

</html>