<!DOCTYPE html>

<hmtl>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breast Cancer Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        
         <h1 class="heading">Asanas for Breast Cancer</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='bcy1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Brahmari Pranayama (Bee breathing)
            </h1>
            <br>

            <p>
                In the hustle of the city life, our peace, concentration and focus can get lost somewhere in the busy lives we live. To improve brain power, you must follow some exercises that can boost brain health. Brahmari Pranayama, also known as Bee breathing, can calm your mind, reduce stress and fatigue, negative emotions like anxiety, frustration, anger, etc.


                Process:
            </p>
            <br>

            <ul>
                <li>Sit in a quiet and well ventilated corner and close your eyes.</li>                
                <li>Place your index fingers on your ears right at the cartilage.</li>
                <li>Breathe in and while breathing out press the cartilage with your fingers.</li>
                <li>Breathe in again and out and continue the same pattern for around 6-7 times.</li>
            </ul>

         </div>

        </section>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='bcy2.jpg') }}" alt="">

            <div class="content">
   
               <h1>2. Padmasana (Lotus Pose)</h1>
               <br>
   
               <p>
                The Padmasana requires you to sit cross-legged, with your palms on your knees in a mudra. Sit with your back straight, eyes closed and just try to breathe in and out and relax your body. You would b surprised by the many benefits of this asana. It helps in reducing fatigue, improves focus and concentration

                Process:
               </p>
               <br>
   
               <ul>
                 <li>
                   Sit on the floor and stretch your legs, your legs should be straight in front. Hold the right leg in both the hands, fold the legs slowly and place it on your left thigh. Ensure that your feet should touch your navel.
                 </li>
                 <li>
                   Same like earlier fold the left knee, and hold it with both hands and place it on the right thigh close to the other. At this point your both knees should touch the floor and the foot should face upwardly.
                 </li>
                 <li>
                   Your spinal cord should be straight at this point. If you feel some difficulty while sitting in the posture for a long time, you can change the legs and then sit in the same position.
                 </li>
                 <li>
                   Your spinal cord should be erect, your both hands should be together or put the palms facing upside on the knee joints and the thumb must touch your index finger and the other fingers should face the upward.
                  </li>
                  <!-- <li>
                   Breathing process should be slowly – slowly and deeply. ( Inhale and Exhale) and focus on your breathing. Do this asana for 2 to 3 minutes in the beginning stage, once you are used to it then increase the time by 15 to 30 minutes. Remember one most important thing don’t bend our body or head while doing this Asana.
                  </li> -->
               </ul>
 
            </div>

        </section>
        <br>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='bcy3.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Dhanurasana 
                </h1>
                  <br>
      
                  <p>
                    Dhanurasana is a back bending asana in hatha yoga and modern yoga as exercise. 

                    Process:
                  </p>
                  <br>
      
                  <ul>
                   <li>Lie down flat on your stomach and place your hands parallel to your torso, with the palms facing upward. Your feet should be hip-width apart.</li>
                      </li>
                      <li> Inhale deeply and lift your feet off the ground, bending your legs at the knees.

                    </li>
                    <li>Simultaneously, lift your hands off the ground and hold your ankles gently. Keep your feet hip width apart for better balance.

                    </li>
                    <li>Once you have steadied yourself in this pose, lift your chest and shoulders further upward, as much as you can. Simultaneously, work towards bringing your feet closer to your back too. Remember to keep your head facing forward and your abdomen pressed against the floor.</li>
                    <li>Hold this pose for a few seconds, inhale and exhale deeply, and gently release your ankles. Then, lower your feet, your chest and head back on the ground.

                    </li>

                  </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='bcy4.webp') }}" alt="">
   
               <div class="content">
      
                  <h1>4. Bhujangasana
                </h1>
                  <br>
      
                  <p>
                    Lie down flat on your stomach. Place palms under the shoulders. Inhale completely, hold your breath (Kumbakh) and then lift up your head, chest and shoulders. Let your navel remain down.

                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Place your palms flat on the ground directly under your shoulders. Bend your elbows straight back and hug them into your sides.
                    </li>
                    <li>Pause for a moment looking straight down at your mat with your neck in a neutral position. ...
                    </li>
                    <li>Inhale to lift your chest off the floor. ...
                    </li>
                    <li>Keep your neck neutral.
                    </li>

                      <li>Stay in this pose for 5-10 minutes or more. Later, slide your legs slowly towards the ground.</li>
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='bcy5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. Chakarasna (Wheel Pose)</h1>
                  <br>
      
                  <p>
                    It is another effective yoga for diabetes control. In this pose, you have to bend backward and touch the ground with your palm. This asana helps in stretching your spine and relaxes it. 
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Lie down on your back. Bend your knees and bring your legs close to your hips.</li>
                      <li>Bring your palm under your shoulder such that your fingers point towards your shoulders. Keep your elbows in shoulder-width apart.</li>
                      <li>Press your palm firmly on the ground and inhale while lifting your shoulders, elbows, and hips.</li>
                      <li>Straighten your arms and legs so that your hips and shoulder feel the upward push.</li>
                      <li>Hold this pose for few seconds then, bend your elbows and shoulders first to bring your head down. After that, bend your knees to lower your hips and spine to the ground.</li>
                  </ul>
      
               </div>
   
        </section>

        <section class="container">

          <div class="title">
              <h1>Tips from Experts</h1>
          </div>

        <div class="video">

          <iframe width="560" height="315" src="https://www.youtube.com/embed/yyY5A7HnGrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
          clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

       </div>

      </section>

     
      <!-- <section class="footer">
            
        <div class="footer">
            <span>
              <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
            </span>
            
        </div>

    </section> -->






    </body>




</hmtl>

