<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='covidwpss.css') }}">


    </head>



    <body>

        <section class="hero_section">


        </section>

        <section>
            <div class="def container">

                <p class="p1">
                Coronavirus disease (COVID) is a contagious disease caused by a virus, the severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). 
                The disease spread worldwide. COVID transmits when people breathe in air contaminated by droplets and small airborne particles containing the virus.
                
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
             <p class="p2">
		          Scientists first identified a human coronavirus in 1965. It caused a common cold. Later that decade, researchers found a group of similar human and animal viruses and named them after their crown-like appearance.

		         Seven coronaviruses can infect humans. The one that causes SARS emerged in southern China in 2002 and quickly spread to 28 other countries. More than 8,000 people were infected by July 2003, and 774 died. A small outbreak in 2004 involved only four more cases. This coronavirus causes fever, headache, and respiratory problems such as cough and shortness of breath.

		          MERS started in Saudi Arabia in 2012. Almost all of the nearly 2,500 cases have been in people who live in or travel to the Middle East. This coronavirus is less contagious than its SARS cousin but more deadly, killing 858 people. It has the same respiratory symptoms but can also cause kidney failure.

                  Coronavirus disease 2019 (COVID-19) is a novel disease caused by a newly identified virus, Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2). The novel disease which begun in Wuhan, China in Dec 2019 was declareda pandemic by World Health Organization on 11 March 2020.
                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <h1 class="info_title">There are a few different types of corona virus disease:</h1>

                <ul class="list1">

                    <li class="l1">
                        Type 1 corona virus disease is  
                        HCoV-229E (Usually mild respiratory illness)
                      </li>

                    <li class="l2">
                        Type 2 corona virus disease is 
                        HCoV-NL63 (Usually mild respiratory illness)
                    </li>
 
                    <li class="l3">
			         Type 3 corona virus disease is  
                        MERS-CoV (Middle East respiratory syndrome (MERS))
                    </li>

                    <li class="l4">
                       Type 4 corona virus disease is 
                        SARS-CoV-2 (COVID-19)
                    </li>

                   

                </ul>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <li>Fever.</li>
                    <li>Cough.</li>
                    <li>Tiredness.</li>
                    <li>Difficulty breathing or shortness of breath.</li>
                    <li>Loss of speech or mobility, or confusion.</li>

                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment and Prevention</h1>
                
                <p class="p3">
                  Isolate yourself in a well ventilated room.
		            Use a triple layer medical mask, discard mask after 8 hours of use or earlier if they become wet or visibly soiled. In the event of a caregiver 				entering the room, both caregiver and patient may consider using N 95 mask.
		            Mask should be discarded only after disinfecting it with 1% Sodium Hypochlorite.
		            Take rest and drink a lot of fluids to maintain adequate hydration.
		            Follow respiratory etiquettes at all times.
		            Frequent hand washing with soap and water for at least 40 seconds or clean with alcohol-based sanitizer.
		            Don’t share personal items with other people in the household.
		            Ensure cleaning of surfaces in the room that are touched often (tabletops, doorknobs, handles, etc.) with 1% hypochlorite solution.
		            Monitor temperature daily.
		            Monitor oxygen saturation with a pulse oximeter daily.
		            Connect with the treating physician promptly if any deterioration of symptoms is noticed.
                </p>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>
                <br>

                <p>
               
		          The COVID virus spreads mainly from person to person among those in close contact (within about 6 feet, or 2 meters). The virus spreads by respiratory droplets released when someone with the virus coughs, sneezes, breathes, sings or talks..
              </p>
		
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>Pneumonia.</li>
                    <li>Acute respiratory distress syndrome (ARDS).</li>
                    <li>Multi-organ failure.</li>
                    <li>Septic shock.</li>
                    <li>Death.</li>

                </ul>

        </section>

      

       <section>

            <div class="container button1">
                <a href="/coronaform"><button>predict</button></a>
            </div>
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->

    </body>
    
</html>