<!DOCTYPE html>

<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        <h1 class="heading">Asanas for Covid</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='covy1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Kapalbhati (Skull-polishing )</h1>
            <br>

            <p>
                Breathing exercises, if done correctly help in increasing lung capacity, aiding in better oxygenation and exhalation of carbondioxide.Anyone can benefit from deep breathing techniques, but they play an especially important role in the COVID-19 recovery process. The exercises can be started at home during self-isolation and easily incorporated into your daily routine.
                Process:
            </p>
            <br>

            <ul>
                <li>Sit in any meditative posture.</li>
                <li>Close the eyes and relax the whole body.</li>
                <li>Inhale deeply through both nostrils, expand the chest.</li>
                <li>Expel the breath with forceful contractions of the abdominal muscles and relax.</li>
                <li>Continue active/forceful exhalation and passive inhalation.</li>
            </ul>

         </div>

        </section>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='covy2.jpg') }}" alt="">

            <div class="content">
   
               <h1>2. Anulom Vilom (Alternate nostril breathing.)</h1>
               <br>
   
               <p>
                Anulom vilom is categorised as a form of pranayama (or controlled breathing) that is popular among yoga practitioners. In order to practise this style of pranayama, you must hold one nostril closed while you inhale and then hold the other nostril closed while you exhale. This is then repeated with the reverse nostril.
                Process:
               </p>
               <br>
   
               <ul>
                   <li>Sit in a comfortable position with legs crossed.</li>
                   <li>Place left hand on left knee.</li>
                   <li>Lift right hand up toward nose.</li>
                   <li>Exhale completely and then use right thumb to close right nostril.</li>
                   <li>Open right nostril and exhale through this side.</li>
               </ul>
   
            </div>

        
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='covy3.webp') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Bhastrika(bellows breath)</h1>
                  <br>
      
                  <p>
                    Bhastrika is a type of pranayama that looks similar to Kapalbhati but is different from it in two fundamental ways. "Kapalbhati is essentially a breathing technique that mimics sneezing and involves the stomach. Bhastrika, on the other hand, is done through the chest and engages the lungs.                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Sit on the Padmasana (Lotus Pose) with the closed eyes.</li>
                      <li>Take a deep breath in (inhale), filling the lungs with air.</li>
                      <li>	After that gently breathe out.</li>
                      <li>In this inhaling and exhaling should take the same length of time-2.5 seconds to breathe in and 2.5 seconds to breathe out.</li>
                  </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='covy4.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>4. Wind release pose</h1>
                  <br>
      
                  <p>
Wind Relieving Pose (also called Knees-to-Chest Pose) is a reclined yoga pose that is perfect for beginner to advanced yogis. This wind removing pose improves digestion and elimination by gently massaging the abdominal organs. It also releases tension in the belly area, hips and low back.           
Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Begin by lying on your back, with your legs and arms extended.</li>
                      <li>As you exhale, draw both of your knees to your chest. </li>
                      <li>While holding only your right knee, release your left leg and extend it along the floor.</li>
                      <li>Draw your left knee back in towards your chest and clasp your hands around both knees again.</li>
                     
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='covy5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. Seated Pigeon pose</h1>
                  <br>
      
                  <p>
                    Pigeon is a deep, challenging stretch that lengthens the hip flexors, a group of muscles that tends to tighten after sitting for too long. It also loosens your glutes and piriformis, a small muscle behind your gluteus maximus that tends to get irritated when your glutes are tight.
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Sit on a chair, a little forward so you're not leaning into the back of the chair, with your ankles directly below your knees.</li>
                      <li>Bring your right knee up to the chest and give it a good hug. </li>
                      <li> If you can feel a deep stretch sitting up tall, then please stay here. If not, hold onto the seat of the chair and breathe in to lengthen the spine.</li>
                      <li>Stay and breathe. Send the breath down to the belly and the right outer hip, and breathe out release and soften as much as you can. Do stay for at least 7-10 breaths. </li>
                      <li>Do the other side. Feel free to hold longer on the tighter side. Remember that the aim is for balance, so the idea of holding them for the same number of breaths doesn't always work.</li>
                  </ul>
      
               </div>
   
        </section>

        <section class="container">

            <div class="title">
                <h1>Tips from Experts</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/297Eu5oneqQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>
         
        </section>

     
        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->






    </body>




</hmtl>

