<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Hospital</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hospitalss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <h1 class="heading">Best Hospitals for Covid</h1>



        <section class=" container hosp1  ">


            <img src="{{ url_for('static', filename='cov1.jpg') }}" alt="">

            <div class="content">
                
                <h1>Sooriya Hospital</h1>
                <br>

                <p>
                    At Sooriya Hospital, our aim is to deliver quality medical care at an affordable cost with the experienced consultants and specialists by using latest technologies. We are devoted in giving the best patient care.
                
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    91-44-23761750-56
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    No.1, Arunachalam Road, Saligramam,

                    Chennai - 600 093,

                    Tamilnadu, India .
                  
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.sooriyahospital.com/""> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.sooriyahospital.com/about_us.htm">For more Details</a></button>
                    <button class="btn3">  <a href="https://goo.gl/maps/NZtyQkRVu9SLmPHu9">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='cov2.jpg') }}" alt="">

            <div class="content">

                <h1>Noble Hospital, Chennai</h1>
                <br>

                <p>
                    The Covid ward of Nobel Hospital are some of the leading centers of India for treatments. Dedicated staff of health care experts, 
                    therapists and intensivists render comprehensive assistance to deal with different issues related to covid.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    +91 44 25577697
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                 M.Ct.M. School Basket Ball Court,
		         44, 4, Audiappa St, 
		         Near Lauders Gate, 
		         Opposite. Lady, Purasaiwakkam, 
 	             Chennai, Tamil Nadu 600084
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="http://www.noblehospitals.com/#!/appointment"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="http://www.noblehospitals.com/#!/home">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://g.page/noblehospitals?share">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>


        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='cov3.jpg') }}" alt="">

            <div class="content">

                <h1>Rajiv Gandhi Government General Hospital</h1>
                <br>

                <p>
                The COVID centers at Rajiv Gandhi Government Hospital is one of the preferred destinations for COVID patients in India. The 				clinical and surgical department follows quality standards in all its treatment measures.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1850 500 1366
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                  GH Post Office, 
	             3, Great Southern Trunk Rd, 
		         near Park Town, Near Chennai Central, 	
		         Park Town, Chennai, 
		         Tamil Nadu 600003
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://chennai.nic.in/rajiv-gandhi-government-general-hospital-appointment-of-telephone-operator-on-periodic-pay-basis/"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.tn.gov.in/detail_contact/4422/4/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://goo.gl/maps/drieLqJct4jc1NEg7">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
             
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>

        </section> -->


    </body>

</html>