<!DOCTYPE html>

<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diabetes Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        <h1 class="heading">Asanas for Diabetes</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='diay1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Dhanurasana (Bow Pose)</h1>
            <br>

            <p>
                This pose helps in strengthening and regulates the pancreas. Therefore, this pose is suitable for people with diabetes. 
                Additionally, it targets strengthening the abdomen muscles, boosts digestion, prevents stomach cramps. 
                Process:
            </p>
            <br>

            <ul>
                <li>Lie down on your stomach and keep your feet slightly apart. Keep your arms on the sides of your body.</li>
                <li>Fold your knees and hold your ankle.</li>
                <li>Lift your chest from the ground while taking a deep breath. Simultaneously, pull your legs up and back. Feel the stretch on your arms and thighs.</li>
                <li>Look straight ahead with a smile on your face. Hold the pose for at least 15 seconds.</li>
                <li>As you exhale, slowly bring your chest down on the ground. Leave your ankle to bring your legs towards the ground.</li>
            </ul>

         </div>

        </section>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='diay2.jpg') }}" alt="">

            <div class="content">
   
               <h1>2. Balasana (Child pose)</h1>
               <br>
   
               <p>
                This pose involves hamstrings, rotator muscles, and spinal extensors. It helps in relieving stress, fatigue, and back and neck pain. It also encourages relaxation that helps in increasing the production of insulin-producing beta cells.
                Process:
               </p>
               <br>
   
               <ul>
                   <li>Sit in the kneeling position and ensure that your knees are wide apart in the same width as your hips.</li>
                   <li>Move a bit backward and try to touch your heels with your hips.</li>
                   <li>Lean forward to touch the ground with your forehead.</li>
                   <li>Stretch your arms forward and feel the pressure on your back.</li>
                   <li>Remain in this pose for about 5 minutes. Now, relax and lift yourself back in the seated position.</li>
               </ul>
   
            </div>

        
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='diay3.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Bhujangasana (Upward facing dog pose)</h1>
                  <br>
      
                  <p>
                    Your spinal extensors, triceps brachii, and quadriceps muscles work together in this pose. As a result, it increases the strength of your muscles. It ultimately reduces your blood sugar levels.
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Lie on your stomach and keep your legs straight.</li>
                      <li>Keep your forearms perpendicular to the floor. Take your arms on the floor adjacent to the last ribcage.</li>
                      <li>Press your arms to lift your body.</li>
                      <li>Do not hold your body on your feet. Instead, create pressure on your feet and firm your hip muscles.</li>
                      <li>Look straight or slightly upward. Breathe normally and hold this position for at least 15 seconds before you sit in relax.</li>
                  </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='diay4.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>4. Legs up the wall (Viparita Karani)</h1>
                  <br>
      
                  <p>
                    Legs up the wall yoga pose stimulate your internal organs like the pancreas. Therefore, this pose makes a significant impact in controlling your diabetes. Regularly practice this pose helps in controlling blood pressure and lowering your blood sugar levels.
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Lie down along the side of the wall. Use a folded towel under your head for support.</li>
                      <li>Keep your legs up the wall while making an angle of 90 degrees with the wall.</li>
                      <li>Relax your head, neck, chin, and throat.</li>
                      <li>Stretch your arms while keeping them beside your body.</li>
                      <li>Stay in this pose for 5-10 minutes or more. Later, slide your legs slowly towards the ground.</li>
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='diay5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. Chakarasna (Wheel Pose)</h1>
                  <br>
      
                  <p>
                    It is another effective yoga for diabetes control. In this pose, you have to bend backward and touch the ground with your palm. This asana helps in stretching your spine and relaxes it. 
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Lie down on your back. Bend your knees and bring your legs close to your hips.</li>
                      <li>Bring your palm under your shoulder such that your fingers point towards your shoulders. Keep your elbows in shoulder-width apart.</li>
                      <li>Press your palm firmly on the ground and inhale while lifting your shoulders, elbows, and hips.</li>
                      <li>Straighten your arms and legs so that your hips and shoulder feel the upward push.</li>
                      <li>Hold this pose for few seconds then, bend your elbows and shoulders first to bring your head down. After that, bend your knees to lower your hips and spine to the ground.</li>
                  </ul>
      
               </div>
   
        </section>

        <section class="container">

            <div class="title">
                <h1>Tips from Experts</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/TzFwjN_7Ir0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

     
        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->






    </body>




</hmtl>

