<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diabetes Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
                A diabetes diet is a healthy-eating plan that's naturally rich in nutrients and low in fat and calories. 
                Key elements are fruits, vegetables and whole grains. In fact, a diabetes diet is the best eating plan for most everyone.
             </p>
             <br>
             <p>
                If you have diabetes or prediabetes, your doctor will likely recommend that you see a dietitian to help you develop a healthy-eating plan. 
                The plan helps you control your blood sugar (glucose), manage your weight and control heart disease risk factors, such as high blood pressure and high blood fats.
             </p>
             <br>
             <p>
                When you eat extra calories and fat, your body creates an undesirable rise in blood glucose. 
                If blood glucose isn't kept in check, it can lead to serious problems, such as a high blood glucose level (hyperglycemia) that, 
                if persistent, may lead to long-term complications, such as nerve, kidney and heart damage.
             </p>

            </div>

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                 <h3>1. Healthy carbohydrates</h3>
                 <br>

                 <p>
                    During digestion, sugars (simple carbohydrates) and starches (complex carbohydrates) break down into blood glucose. 
                    Focus on healthy carbohydrates, such as:
                 </p>
    

                 <ul class="list">
                    <li>Fruits</li>
                    <li>Vegetables</li>
                    <li>Whole grains</li>
                    <li>Legumes, such as beans and peas</li>
                    <li>Low-fat dairy products, such as milk and cheese</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>2. Fiber-Rich Foods</h3>
                 <br>

                 <p>
                    Dietary fiber includes all parts of plant foods that your body can't digest or absorb. 
                    Fiber moderates how your body digests and helps control blood sugar levels. Foods high in fiber include:
                 </p>

                 <ul class="list">
                    <li>Nuts</li>
                    <li>Berries</li>
                    <li> Avocados</li>
                    <li>Oats</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>3. Heart-Healthy Fish</h3>
                 <br>

                 <p>
                    Eat heart-healthy fish at least twice a week. Fish such as salmon, mackerel, tuna and sardines are 
                    rich in omega-3 fatty acids, which may prevent heart disease.
                    Avoid fried fish and fish with high levels of mercury, such as king mackerel.
                 </p>
                 <br>
                
                </div>

                 <div>

                 <h3>4. Good-Fats</h3>
                 <br>

                 <p>
                    Foods containing monounsaturated and polyunsaturated fats can help lower your cholesterol levels. These include:
                 </p>

                 <ul class="list">
                    <li>Cheese</li>
                    <li> Dark chocolate</li>
                    <li>Whole eggs </li>
                    <li>Fatty fish</li>
                 </ul>
                </div>

            </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                Diabetes increases your risk of heart disease and stroke by accelerating the development of clogged and hardened arteries. 
                Foods containing the following can work against your goal of a heart-healthy diet.
              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

                <h3>1. Saturated fats</h3>
                <br>

                <p>
                    Avoid high-fat dairy products and animal proteins such as butter, beef, hot dogs, sausage and bacon. Also limit coconut and palm kernel oils.
                </p>
                <br>

            </div>

             <div>

                <h3>2. Trans fats</h3>
                <br>

                <p>
                    Avoid trans fats found in processed snacks, baked goods, shortening and stick margarines.
                </p>
                <br>

            </div>

             <div>

                <h3>3. Cholesterol </h3>
                <br>

                <p>
                    Cholesterol sources include high-fat dairy products and high-fat animal proteins, egg yolks, liver, and other organ meats. 
                    Aim for no more than 200 milligrams (mg) of cholesterol a day.
                </p>
                <br>

             </div>

             <div>

                <h3>4. Sodium</h3>
                <br>

                <p>
                    Aim for less than 2,300 mg of sodium a day. Your doctor may suggest you aim for even less if you have high blood pressure.
                </p>
                <br>

            </div>

         </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1>The Plate Method</h1>
            <br>

            <p>
                The American Diabetes Association offers a simple method of meal planning. 
                In essence, it focuses on eating more vegetables. Follow these steps when preparing your plate:
            </p>

         </div>

         <div class="content">
            
            <ul class="list">

                <li>Fill half of your plate with nonstarchy vegetables, such as spinach, carrots and tomatoes.</li>
                <li>Fill a quarter of your plate with a protein, such as tuna, lean pork or chicken.</li>
                <li>Fill the last quarter with a whole-grain item, such as brown rice, or a starchy vegetable, such as green peas.</li>
                <li>Include "good" fats such as nuts or avocados in small amounts.</li>
                <li>Add a serving of fruit or dairy and a drink of water or unsweetened tea or coffee.</li>

            </ul>

         </div>

        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
                When planning meals, take into account your size and activity level. The following menu is tailored for someone who needs 1,200 to 1,600 calories a day.
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - Whole-wheat bread (1 medium slice) with 2 teaspoons jelly, 1/2 cup shredded wheat cereal with a cup of 1 percent low-fat milk, a piece of fruit, coffee.</li>
                <li><strong>Lunch</strong> - Roast beef sandwich on wheat bread with lettuce, low-fat American cheese, tomato and mayonnaise, medium apple, water.</li>
                <li><strong>Snacks</strong> - 2 1/2 cups popcorn with 1 1/2 teaspoons margarine.</li>
                <li><strong>Dinner</strong> - Salmon, 1 1/2 teaspoons vegetable oil, small baked potato, 1/2 cup carrots, 1/2 cup green beans, medium white dinner roll, unsweetened iced tea, milk.</li>
             
            </ul>

        </section>

        <section class="results container">

         <div class="title">

            <h1>What are the results of a diabetes diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
                Embracing your healthy-eating plan is the best way to keep your blood glucose level under control and prevent diabetes complications. 
                And if you need to lose weight, you can tailor it to your specific goals.
            </p>
            <br>

            <p>
                Aside from managing your diabetes, a diabetes diet offers other benefits, too. Because a diabetes diet recommends generous amounts of fruits, 
                vegetables and fiber, following it is likely to reduce your risk of cardiovascular diseases and certain types of cancer. 
                And consuming low-fat dairy products can reduce your risk of low bone mass in the future.
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/SdxnHXDBOV4" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

        <!-- <section class="footer">
            
         <div class="footer">
            <span>
               <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
           </span>
            
         </div>

        </section> -->

   <body>

</html>