<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diabetes Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='diabeteswpss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <section>
            <div class="def container">

                <p class="p1">
                    Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. 
                    The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. 
                    With diabetes, your body either doesn't make enough insulin or can't effectively use the insulin it does make.
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                    The term diabetes was probably coined by Apollonius of Memphis around 250 BC. Diabetes is first recorded in English,
                     in the form diabete, in a medical text written around 1425.
                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <h1 class="info_title">There are a few different types of diabetes:</h1>

                <ul class="list1">

                    <li class="l1">
                        Type 1 diabetes is an autoimmune disease. The immune system attacks and destroys cells in the pancreas, where insulin is made. 
                        It's unclear what causes this attack. About 10 percent of people with diabetes have this type.
                        
                    </li>

                    <li class="l2">
                        Type 2 diabetes occurs when your body becomes resistant to insulin, and sugar builds up in your blood.
                    </li>
 
                    <li class="l3">
                        Prediabetes occurs when your blood sugar is higher than normal, but it's not high enough for a diagnosis of type 2 diabetes.
                    </li>

                    <li class="l4">
                        Gestational diabetes is high blood sugar during pregnancy. Insulin-blocking hormones produced by the placenta cause this type of diabetes.
                    </li>

                    <li class="l5">
                        A rare condition called diabetes insipidus is not related to diabetes mellitus, 
                        although it has a similar name. It's a different condition in which your kidneys remove too much fluid from your body.
                    </li>

                </ul>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <li>Urinate (pee) a lot, often at night</li>
                    <li>Thirsty Feelings</li>
                    <li>Weight Loss</li>
                    <li>Hungry feelings</li>
                    <li>Blurry Vision</li>

                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment</h1>
                
                <p class="p3">
                    Treatments for diabetes can depend on the type. Common treatments
                    include a diabetic meal plan, regular physical activity, and
                    surgery for either type and an artificial pancreas or pancreatic
                    medicines. Some less common treatments are weight loss
                    diabetes. Metformin is a tried and tested medicine that has
                    islet transplantation for some people with type 1
                    been used for many decades to treat type 2 diabetes.
                </p>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>

                <ul class="list3">
                    <li>Over Weight</li>
                    <li>Genetics</li>
                    <li>Age Factor</li>
                    <li>Living a sedentary lifestyle</li>
                    <li>Bad Diet</li>

                </ul>
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>Heart Disease, Heart Attack, and Stroke</li>
                    <li>Neuropathy and Nephropathy</li>
                    <li>Retinopathy and Vision Loss</li>
                    <li>foot damage such as infections and sores that don’t heal</li>
                    <li>skin conditions such as bacterial and fungal infections</li>

                </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>

                <ul class="list5">
                    <li>Get at least 150 minutes per week of aerobic exercise, such as walking or cycling</li>
                    <li>Cut saturated and trans fats, along with refined carbohydrates, out of your diet</li>
                    <li>Eat more fruits, vegetables, and whole grains.</li>
                    <li>Eat smaller portions.</li>
                    <li>Try to lose 7 percentTrusted Source of your body weight if you're overweight or obese</li>

                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="/diabetesform"><button>predict</button></a>
            </div>
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->

    </body>
    
</html>