<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='diet.css') }}">
        <title>Diet Plan</title>
    </head>
    <body>
        <section class="hero_section diet_plan">
            <div class="card">
                <a href="/braintumordiet"><img src="{{ url_for('static', filename='braintumordiy.webp') }}" alt=""></a>
             </div>
             <div class="card">
                <a href="/malariadiet"><img src="{{ url_for('static', filename='malariadiy.webp') }}" alt=""></a>
            </div>
            <div class="card">
                <a href="/diabetesdiet"><img src="{{ url_for('static', filename='diabetesdiy.webp') }}" alt=""></a>
            </div>
            <div class="card">
                <a href="/pneumoniadiet"><img src="{{ url_for('static', filename='pneumoniadiy.webp') }}" alt=""></a>
 
            </div>
            <div class="card">
                <a href="/coviddiet"><img src="{{ url_for('static', filename='coviddiy.png') }}" alt=""></a>

            </div>
             <div class="card">
                <a href="/kidneydiet"><img src="{{ url_for('static', filename='kidneydiy.jpg') }}" alt=""></a>

             </div>
             <div class="card">
                <a href="/heartdiet"><img src="{{ url_for('static', filename='heartdiy.webp') }}" alt=""></a>

             </div>
             <div class="card">
                <a href="/breastcancerdiet"><img src="{{ url_for('static', filename='breastcancerdiy.png') }}" alt=""></a>

             </div>
             <div class="card">
                <a href="/parkinsondiet"><img src="{{ url_for('static', filename='parkinsondiy.jpg') }}" alt=""></a>

             </div>
        </section>

    </body>
</html>