<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heart Hospital</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hospitalss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <h1 class="heading">Best Hospitals for Heart</h1>



        <section class=" container hosp1  ">


            <img src="{{ url_for('static', filename='heart1.jpg') }}" alt="">

            <div class="content">
                
                <h1>Vijaya Group of Hospitals</h1>
                <br>

                <p>
                    Vijaya Group of Hospitals was started in the year 1972. It was the first multi-specialty hospital in Chennai. The group's only aim is to provide quality healthcare to its patients at affordable rates. 
                    The hospital runs on values like teamwork, innovation, integrity, quality and safety.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    044 6664 6664
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    No. 434, N. S. K. Salai,
                    Vadapalani, Chennai - 6000 26
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://vijayahospital.org/book-your-appointment/"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://vijayahospital.org/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Vijaya+Hospital/@13.0456699,80.1974383,16z/data=!4m9!1m2!2m1!1svijaya+hospital+vadapalani!3m5!1s0x3a5266d0fb9230a9:0x7ef99b8ecb885130!8m2!3d13.0496411!4d80.2084541!15sChp2aWpheWEgaG9zcGl0YWwgdmFkYXBhbGFuaSIDiAEBWhwiGnZpamF5YSBob3NwaXRhbCB2YWRhcGFsYW5pkgEIaG9zcGl0YWywAQA">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='heart2.jpg') }}" alt="">

            <div class="content">

                <h1>MIOT INSTITUTE OF CANCER CURE, CHENNAI</h1>
                <br>

                <p>
                    At the MIOT Institute of Cancer Cure, we know what it takes to beat cancer.
                     And we believe in cancer care that does not give up.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    +91 44 22492288
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    MIOT International

                    4/112, Mount Poonamalle Road,
                    
                    Manapakkam, Chennai - 600 089
                    
                    Tamil Nadu, INDIA
                    
                    
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.miotinternational.com/epilepsy-clinic/"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.miotinternational.com/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/MIOT+International/@13.0225921,80.1841817,17z/data=!3m1!4b1!4m5!3m4!1s0x3a5260d2a1750661:0xe3a591bb494f9792!8m2!3d13.0225921!4d80.1863704">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>


        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='heart3.webp') }}" alt="">

            <div class="content">

                <h1>Apollo Hospital, Greams Road, Chennai</h1>
                <br>

                <p>
                    The Apollo Hospital, Greams Road is one of the preferred destinations for cancer patients in India. The clinical and surgical department follows quality standards in all its treatment measures.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1860 500 1066
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    Apollo Hospital
                    No.21, Greams Lane,
                    Off Greams Road,
                    Chennai, Tamil Nadu - 600006
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.askapollo.com/?utm_source=referral&utm_medium=homepagebanner"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.apollohospitals.com/departments/cancer/hospitals/chennai/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Apollo+Hospital+Chennai/@13.059956,80.2512312,17z/data=!4m9!1m2!2m1!1sapollo+near+Greams+Road,+Thousand+Lights,+Chennai,+Tamil+Nadu!3m5!1s0x3a52666accdfbb59:0x2e0d1b10a5e06d2f!8m2!3d13.0631824!4d80.2515375!15sCj1hcG9sbG8gbmVhciBHcmVhbXMgUm9hZCwgVGhvdXNhbmQgTGlnaHRzLCBDaGVubmFpLCBUYW1pbCBOYWR1WjwiOmFwb2xsbyBuZWFyIGdyZWFtcyByb2FkIHRob3VzYW5kIGxpZ2h0cyBjaGVubmFpIHRhbWlsIG5hZHWSAQhob3NwaXRhbLABAA">Location</a></button>
                </div>
                
            </div>
    
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
           
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>

        </section>
 -->

    </body>

</html>