<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heart Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='heartwpss.css') }}">


    </head>



    <body>

        <section class="hero_section">


        </section>

        <section>
            <div class="def container">

                <p class="p1">
                    The term “heart disease” refers to several types of heart conditions. 
                    In the United States, the most common type of heart disease is coronary artery disease (CAD), which can lead to heart attack. 
                    
                   
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                    Heart attacks were unknown before 1900, indeed the first recorded heart attack occurred in 1926. 
                    Today heart disease kills 700,000 Americans each year.

                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <h1 class="info_title">Heart disease describes a range of conditions that affect your heart. 
                    Heart diseases include:</h1>

                <ul class="list1">

                    <li class="l1">
                        Blood vessel disease, such as coronary artery disease

                    </li>

                    <li class="l2">
                        Heart rhythm problems (arrhythmias)
                    </li>
 
                    <li class="l3">
                        Heart defects you're born with (congenital heart defects)

                    </li>

                    <li class="l4">
                        Heart valve disease

                    </li>

                    <li class="l5">
                        Heart infection

                    </li>

                </ul>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <li>Pressure, tightness, pain, or a squeezing or aching sensation in your chest or arms that may spread to your neck, jaw or back.</li>
                    <li>Nausea, indigestion, heartburn or abdominal pain</li>
                    <li>Shortness of breath</li>
                    <li>Cold sweat</li>

                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment</h1>
                
                <p class="p3">
                    Treatments for heart disease can depend on the type. Common treatments
                    include Thrombolytics, Antiplatelet agents, Other blood-thinning medications, Pain relievers, Nitroglycerin. 
                    
                </p>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>

                <ul class="list3">
                    <li>Diabetes</li>
                    <li>Being overweight or obese</li>
                    <li>Age Factor</li>
                    <li>Family history of CVD</li>
                    <li>Bad Diet</li>

                </ul>
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>Heart failure. One of the most common complications of heart disease, heart failure occurs when your heart can't pump enough blood to meet your body's needs</li>
                    <li>Stroke</li>
                    <li>heart attack</li>
                    <li>Aneurysm</li>

                </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>

                <ul class="list5">
                    <li>Get at least 150 minutes per week of aerobic exercise, such as walking or cycling</li>
                    <li>Cut saturated and trans fats, along with refined carbohydrates, out of your diet</li>
                    <li>Eat more fruits, vegetables, and whole grains.</li>
                    <li>Eat smaller portions.</li>

                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="/heartform"><button>predict</button></a>
            </div>
        </section>


        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>
    
        </section> -->


    </body>
    
</html>