<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chronic Kidney Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
                A chronic kidney disease based diet is a healthy-eating plan that's naturally rich in nutrients and low in fat and calories. 
                Key elements are  fruits, veggies, low-fat dairy products, whole grains, fish, poultry, beans, seeds, and nuts.
             </p>
             <br>
             <p>
                 If you have chronic kidney disease, your doctor will likely recommend that you see a dietitian to help you develop a DASH diet. 
                 The plan helps you to:
                 A major function of the kidneys is to get rid of waste and extra fluid from your body through your pee. They also:
		          Balance your body’s minerals, like salt and potassium
		           Balance your body’s fluids
       	 	     Make hormones that affect the way other organs work
             </p>
             <br>
             <p>
                When you eat extra calories and fat, your body creates an undesirable rise in blood glucose. 
                If blood glucose isn't kept in check, it can lead to serious problems, such as a high blood glucose level (hyperglycemia) that, 
                if persistent, may lead to long-term complications, such as nerve, kidney and heart damage.
             </p>

            </div>

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                 <h3>1. Eating a low-protein diet</h3>
                 <br>

                 <p>
                 Eat the right amount of protein. More protein than you need makes your kidneys work harder and may make CKD worse. But too  little isn’t healthy either. Both animal and plant foods have protein. Your dietitian can help you figure out the right combination and  amount of protein to eat.
                 </p>
		          <br>

                </div>

                 <div>

                 <h3>2. Fruits-based diets </h3>
                 <br>

                 <p>
                   Fruits are a healthy choice to control the level of nutrients present in your body. For people suffering from CKD  less salt/sodium, also need to reduce the potassium etc in your diet. Fruits that help here are: 
                 </p>

                 <ul class="list">
                    <li>Berries</li>
                    <li>Grapes</li>
                    <li> Cherries</li>
                    <li>Apples</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>3. Veggies-based diet</h3>
                 <br>

                 <p>
                   Vegetables are important part of your meal and has to be kept in check, some of the heaalthy choices are:
		            Cauliflower, Onions, Eggplant, Turnips
                 </p>
                 <br>
                
                </div>

                 <div>

                 <h3>4. Good-Fats</h3>
                 <br>

                 <p>
                    Foods containing monounsaturated and polyunsaturated fats can help lower your nutrients levels. These include:
                 </p>

                 <ul class="list">
                    <li>Cheese</li>
                    <li> Dark chocolate</li>
                    <li>Whole eggs </li>
                    <li>Poultry, fish</li>
                 </ul>
                </div>

            </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                Chronic kidney disease leads to damage in kidney or kidney failure which could be more fatal it can lead to heart disease furhter... 
		          There are nutrients that you should try to limit in your diet:
              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

                <h3>1. Eat less salt/sodium</h3>
                <br>

                <p>
                That’s a good move for diabetes and really important for CKD. Over time, your kidneys lose the ability to control your sodium-water balance. Less sodium in your diet will help lower blood pressure and decrease fluid buildup in your body, which is common in kidney disease.
                  Aim for less than 2,300 mg of sodium a day. Your doctor may suggest you aim for even less if you have high blood pressure.
                </p>
                <br>

            </div>

             <div>

                <h3>2.Reduce your potassium</h3>
                <br>

                <p>
                    Avoid potassium in Oranges, potatoes, tomatoes, whole-grain bread, and many other foods are high in potassium. potassium can build up in your blood and cause serious heart problems.
                </p>
                <br>

            </div>

             <div>

                <h3>3.  Reduce your phosphorus</h3>
                <br>

                <p>
                    Your kidneys can’t remove extra phosphorus from your blood very well. Too much weakens bones and can damage your blood vessels, eyes, and heart. Meat, dairy, beans, nuts, whole-grain bread, and dark-colored sodas are high in phosphorus. Phosphorus is also added to lots of packaged foods.
                </p>
                <br>

             </div>

             <div>

                <h3>4.Reduce your protein</h3>
                <br>

                <p>
                   Eat the right amount of protein. More protein than you need makes your kidneys work harder and may make CKD worse. But too little isn’t healthy either. Both animal and plant foods have protein. Your dietitian can help you figure out the right combination and amount of protein to eat.
                </p>
                <br>

            </div>

         </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1>The Plate Method</h1>
            <br>

            <p>
                The American Diabetes Association offers a simple method of meal planning. 
                In essence, it focuses on eating more vegetables. Follow these steps when preparing your plate:
            </p>

         </div>

         <div class="content">
            
            <ul class="list">

                <li>Choose and prepare foods with less salt and sodium.</li>
                <li>Eat the right amount and the right types of protein.</li>
                <li>Choose foods that are healthy for your heart.</li>
                <li>Choose foods and drinks with less phosphorus.</li>
                <li>Choose foods with the right amount of potassium.</li>

            </ul>

         </div>

        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
               When your kidneys are not working well, your potassium level may be too high or too low. Having too much or too little potassium can cause muscle cramps, problems with the way your heart beats and muscle weakness.

               If you have kidney disease, your doctor or dietitian may tell you to lower the amount of potassium in your eating plan. 
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - 1 ½ cups Cream of Wheat,
                  ½ cup Blueberries,
                  ½ cup Milk or Rice.
                </li>
                <li><strong>Lunch</strong> - Linguine with Garlic &
                  Shrimp,
                  ½ cup Fruit Cocktail </li>
                <li><strong>Snacks</strong> - 2 cups air-popped popcorn,
                  1 ½ tsp margarine </li>
                <li><strong>Dinner</strong> - Beef & Barley Stew,
                  1 slice Bread or Bannock,
                  1 cup garden salad,
                  2 Tbsp salad dressing </li>
             
            </ul>

        </section>

        

        <section class="results container">

         <div class="title">

            <h1>What are the results of a CKD diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
                Embracing your healthy-eating plan is the best way to keep your body at its best functioning despite having CKD. It reduces pressure on the kidneys and reduces the chances of kidney failure.
            </p>
            <br>

            <p>
                Aside from managing your CKD,a CKD diet offers other benefits. Since a CKD diet also recommends generous amounts of fruits, 
                vegetables and fiber, following it is likely to reduce your risk of cardiovascular diseases and certain types of cancer. 
                And consuming low-fat dairy products can reduce your risk of low bone mass in the future.
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SDXH0bGlQp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



         </div>

        </section>

        <!-- <section class="footer">
            
         <div class="footer">
            <span>
               <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
           </span>
            
         </div>

        </section> -->

   <body>

</html>