<!DOCTYPE html>

<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chronic Kidney Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        <h1 class="heading">Asanas for CKD</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='kidy1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Mandukasana (frog pose )</h1>
            <br>

            <p>
                Mandukasana helps relieve stomach issues including constipation as it massages the abdominal region. It also helps improve your body's digestive functions. Mandukasana is a great exercise if you are seeking to lose weight. This yoga asana helps shed excess belly fat and removes fat from the waist and thighs                
                 Process:
            </p>
            <br>

            <ul>
                <li>Sit in Vajrasana pose.</li>
                <li>Place your right palm on your left palm; keep them on the navel.</li>
                <li>Now press your stomach inwards.</li>
                <li>Hold your breath and position for some time.</li>
                <li>Slowly inhale and come back to Starting Position.</li>
            </ul>

         </div>

        </section>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='kidy2.webp') }}" alt="">

            <div class="content">
   
               <h1>2. Bhujangasan (Cobra Pose.)</h1>
               <br>
   
               <p>
                Bhujangasana is very useful to keep your back healthy. Practise this asana individually or through the Surya Namaskar to make your spinal region strong and very agile. This posture can tone your body and the spinal nerves. Bhujangasana improves your digestion, liver and kidney functions as well.
                Process:
               </p>
               <br>
   
               <ul>
                   <li>Place your palms flat on the ground directly under your shoulders. Bend your elbows straight back and hug them into your sides.</li>
                   <li>Pause for a moment looking straight down at your mat with your neck in a neutral position. ...</li>
                   <li>Inhale to lift your chest off the floor. ...</li>
                   <li>Keep your neck neutral.</li>
               </ul>
   
            </div>

        
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='kidy3.jpeg') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Gaumukhasana( Cow Face Pose)</h1>
                  <br>
      
                  <p>
                        Improves Body Posture: Gomukhasana stretches muscles in the ankles, knees, chest and shoulders which not only strengthens them but also improves the overall body posture. During the asana, almost all body joints are in operation which increases blood flow and ensures the body gets more blood and nutrition.                    
                        Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Sit with your back straight on a yoga mat. ...</li>
                      <li>Keep both the feet together and place your palms on the hips.</li>
                      <li>	Now fold your left leg and gently place it under the right buttock.</li>
                      <li>Bring your right leg over your left thigh.</li>
			<li>Stack both the knees closely over one another.</li>
                  </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='kidy4.webp') }}" alt="">
   
               <div class="content">
      
                  <h1>4. uttan padasana(Raised leg pose)</h1>
                  <br>
      
                  <p>
                    bUttanpadasana health benefits include factors that can prevent you from many health problems like constipation, acidity, back pain, increase blood circulation, indigestion. Also help to strengthen thighs, hips, thighs muscles and reproductive organs..           
                        Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Your breathing should be normal and keep your hands straight on the floor, but palms should face downwards. </li>
                      <li>Then, slowly raise your leg. </li>
                      <li> Raise your leg to an angle of 45 to 60 degree, and inhale while doing this.</li>
                      <li>Make sure your legs are straight, and your upper body is parallel to the floor.</li>
                     
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='kidy5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. matsyendrasana(Half Lord of the Fishes Pose)</h1>
                  <br>
      
                  <p>
                    Matsyendrasana ( IAST: Matsyendrāsana), Matsyendra's Pose or Lord of the Fishes Pose, is a seated twisting asana in hatha yoga and modern yoga as exercise
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Bend the right leg over the left leg, placing the right foot on the outside of the left knee, keep the toes of right foot face forward.
                        </li>
                      <li>Bend the left leg, bringing the left foot near the right buttock. keep left foot's outside edge in contact with the floor.
                    </li>
                     
                  </ul>
      
               </div>
   
        </section>

        <section class="container">

            <div class="title">
                <h1>Tips from Experts</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/DbskeALFA24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>

        </section>



        <!-- <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section> -->
         






    </body>




</hmtl>

