<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chronic Kidney Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='kidneywpss.css') }}">


    </head>



    <body>

        <section class="hero_section">


        </section>

        <section>
            <div class="def container">

                <p class="p1">
                Your kidneys, each just the size of a computer mouse, filter all the blood in your body every 30 minutes. They work hard to remove 	
                wastes, toxins, and excess fluid. They also help control blood pressure, stimulate production of red blood cells, keep your bones healthy,
                and regulate blood chemicals that are essential to life. Kidneys that function properly are critical for maintaining good health, however, 			
                more than one in seven American adults are estimated to have chronic kidney disease (CKD).
		        
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                  The initial recognition of kidney disease as independent from other medical conditions is widely attributed to Richard Bright's 1827 			
                  book “Reports of Medical Cases,” which detailed the features and consequences of kidney disease.
                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <h1 class="info_title">There are a few different types of chronic kidney disease:</h1>

                <ul class="list1">

                    <li class="l1">
                         Type 1 chronic kidney disease is  
                         Kidney stones
                    </li>

                    <li class="l2">
                         Type 2 chronic kidney disease is 
                         Glomerulonephritis
                    </li>
 
                    <li class="l3">
			           Type 3 chronic kidney disease is  
                       Polycystic kidney disease
                    </li>

                    <li class="l4">
                       Type 4 chronic kidney disease is 
                        Urinary tract infections
                    </li>

                   

                </ul>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <li>Fatigue.</li>
                    <li>Puffiness around the eyes in the morning.</li>
                    <li>Muscle cramping.</li>
                    <li>Trouble sleeping.</li>
                    <li>Poor appetite.</li>

                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment</h1>
                
                <p class="p3">
                 
		         Your doctor will either prescribe angiotensin-converting enzyme (ACE) inhibitors, such as lisinopril and ramipril, or angiotensin receptor blockers (ARBs), such as irbesartan and olmesartan. 
                 These are blood pressure medications that can slow the progression of 	kidney disease. Your doctor may prescribe these medications to preserve kidney function, even if you don’t have high blood pressure.
                 Making changes to your diet is just as important as taking medication. Adopting a healthy lifestyle can help prevent many of the underlying causes of kidney disease. 
		        </p>
                <br>
                <ul class="list1">
		         <li>Cut back on foods high in cholesterol</li>
		         <li>Cut back on salt</li>
		         <li>Start a heart-healthy diet that includes fresh fruits, veggies, whole grains, and low-fat dairy products</li>
		         <li>Limit alcohol consumption</li>
		         <li>Quit smoking</li>
		         <li>Increase physical activity</li>
		         <li>Lose weight</li>
                </ul>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>

                <ul class="list3">
                    <li>Diabetes.</li>
                    <li>High blood pressure.</li>
                    <li>Smoking.</li>
                    <li>Obesity.</li>
                    <li>Abnormal kidney structure.</li>

                </ul>
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>Anemia.</li>
                    <li>Bone weakness.</li>
                    <li>High blood pressure (hypertension).</li>
                    <li>Hyperkalemia.</li>
                    <li>Metabolic acidosis.</li>

                </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>

                <ul class="list5">
                    <li>Make healthy food choices.</li>
                    <li>Make physical activity part of your routine.</li>
                    <li>Aim for a healthy weight.</li>
                    <li>Get enough sleep.</li>
                    <li>Stop smoking.</li>
		           <li>Limit alcohol intake.</li>

                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="kidneyform"><button>predict</button></a>
            </div>
        </section>


        <!-- <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section> -->
         

    </body>
    
</html>