<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chronic kidney Hospital</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hospitalss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <h1 class="heading">Best Hospitals for Chronic Kidney disease</h1>



        <section class=" container hosp1  ">


            <img src="{{ url_for('static', filename='ckd1.webp') }}" alt="">

            <div class="content">
                
                <h1>Apollo Hospitals, Greams Road</h1>
                <br>

                <p>
                    The Apollo Transplant Institutes (ATI) is one of the world’s largest and most comprehensive solid transplant programs. ATI offers a host of state of the art services which include Peritoneal and Hemo-Dialysis, Management of Liver Disease, Management of Kidney Disease etc..
                 
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    76995 69690
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                  Greams Lane, 
		          21, Greams Rd, 
		         Thousand Lights, Chennai,
	             Tamil Nadu 600006
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.apollohospitals.com/campaign/chennai/?utm_source=google&utm_medium=cpc&utm_campaign=Chennai_TM_Brand_Search_Geo&utm_content=brand&utm_source=paid&utm_medium=googleads&utm_campaign=12658006292&utm_adgroup=119950962693&utm_term=apollo%20chennai%20hospital&creative=511355568895&device=c&devicemodel=&matchtype=p&feeditemid=&targetid=kwd-308100574231&network=g&placement=&adposition=&GA_loc_interest_ms=&GA_loc_physical_ms=9061946&gclid=Cj0KCQjw37iTBhCWARIsACBt1Ix5dmI04oymnlRIVcCi0j0p9M8NTSzeuMZ6n3c2sFKoMO8mq839j_saAnLmEALw_wcB"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://chennai.apollohospitals.com/hospitals/greams-road/">For more details</details></a></button>
                    <button class="btn3">  <a href="https://goo.gl/maps/9LK8dkSVb42cDHv78">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='ckd2.jpg') }}" alt="">

            <div class="content">

                <h1>Kokilaben Dhirubhai Ambani Hospital Mumbai</h1>
                <br>

                <p>
                 Kokilaben Dhirubhai Ambani Hospital, one of the most modern and state-of-the-art multi-specialty tertiary care hospitals, was launched in 2008 by Reliance Group.
		          
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    +91 44 36577697
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                  Rao Saheb, 
		         Achutrao Patwardhan Marg, 
		         Four Bungalows,
	 	         Andheri West, Mumbai, 	
		         Maharashtra 400053
		 </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.kokilabenhospital.com/patients/makeanappointment.html"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.kokilabenhospital.com/contacts.html">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://goo.gl/maps/66iuN7MLSecQ6Dmx6">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>


        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='ckd3.jpg') }}" alt="">

            <div class="content">

                <h1>Fortis Hospital Gurgaon</h1>
                <br>

                <p>
                  Brand Fortis was established in 1996 and now has over 55 facilities in line to offer health facilities within India and abroad.
		          It is an NABH accredited multi-specialty tertiary care hospital.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1950 500 1066
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                 Sector - 44, 
		         Opposite HUDA City Centre,
		         Gurugram, Haryana 122002
		       </p>
               <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.fmri.in/request-appointment"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.fortishealthcare.com/india/fortis-memorial-research-institute-hospital-in-gurgaon">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://g.page/fortis-gurgaon?share">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>

        </section> -->


    </body>

</html>