<!DOCTYPE html>

<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malaria Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        <h1 class="heading">Asanas for malaria(Increases immunity)</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='malay1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Vajrasana (Thunderbolt Pose/Diamond Pose)</h1>
            <br>

            <p>
                Vajrasana not only helps in keeping the mind calm and stable but also cures digestive acidity and gas formation, helps relieve knee pain, strengthens 
                thigh muscles and helps to relieve back pain. The exercise aides in strengthening sexual organs and helping in treatment of urinary problems.<br>
                Process:
            </p>
            <br>

            <ul>
                <li>Start by kneeling on the floor and rest your pelvis on your heels.</li>
                <li>Keep your heels close to each other by pulling your knees and ankles together and point your feet in line with your legs.</li>
                <li>Place your palms on your knees or on your thighs and adjust your pelvis slightly backward and forward until you're comfortable. </li>
                <li> Exhale as you sit back on your legs.</li>
             </ul>

         </div>

        </section>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='malay2.jpg') }}" alt="">

            <div class="content">
   
               <h1>2. Matsyasana (Fish pose)</h1>
               <br>
   
               <p>
                This one does a lot more than simply improving immunity levels. Matsyasana also aids digestion, improves sleep quality, and relieves pain in the neck and shoulders.<br>
                Process:
               </p>
               <br>
   
               <ul>
                   <li>Come up to your elbows with your forearms flat on the mat and your upper arms perpendicular to the floor.</li>
                   <li>Keep your forearms in place and puff up your chest by rolling your shoulders back and tucking your shoulder blades firmly onto your back. You should feel your body creating a backbend.</li>
                   <li>Press your palms into the mat. You can tuck your hands under your butt if that feels like a more stable position for them.</li>
                   <li>Lower the crown (very top) of your head back until it comes to the floor, opening your throat.</li>
                   <li>Keep your legs engaged and your toes active throughout.</li>
                   <li>To come out, press strongly into your forearms and raise your head off the floor.</li>
                   <li>Then release your upper body to the mat.</li>
               </ul>
   
            </div>

        
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='malay3.webp') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Bhujangasana (Cobra pose)</h1>
                  <br>
      
                  <p>
                    he cobra pose is known for its benefits in inducing weight loss and alleviating back pain. However, 
                    this one is also effective in boosting kidney function, and metabolism and strengthening immunity against infections like malaria.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Place your palms flat on the ground directly under your shoulders.</li>
                      <li>Bend your elbows straight back and hug them into your sides.</li>
                      <li>Pause for a moment looking straight down at your mat with your neck in a neutral position. Anchor your pubic bone to the floor.</li>
                      <li>Inhale to lift your chest off the floor. Roll your shoulders back and keep your low ribs on the floor. Make sure your elbows continue hugging your sides.</li>
                      <li>Keep your neck neutral. Don’t crank it up.</li>
                      <li> Your gaze should stay on the floor.</li>
                      
                      
                    </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='malay4.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>4. Trikonasana ( Triangle pose)</h1>
                  <br>
      
                  <p>
                    This one is famed for its immunity-boosting effects. Besides this, it also strengthens the legs, ankles, chest, and arms while aiding digestion and improving blood circulation across
                     the body. Overall body balance is significantly improved.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Stand and keep a minimum distance of 3 feet between your legs.</li>
                      <li>Extend both your arms sideways and keep them level with the shoulders.</li>
                      <li>While inhaling slowly, raise the left arm and bend the body towards the right, with the right arm pointing downwards, with fingers pointed at your toes.</li>
                      <li>Your eyes should face the ceiling and most importantly, be open for keeping optimum body balance.</li>
                      <li>Make sure to inhale deeply and relax the body on exhalation during the final position.</li>
                      <li>Stay in the position for a minimum of 1 minute.</li>
                      <li>Repeat the asana for the other side as well.</li>
                     
                     
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='malay5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. Vrikshasana (Tree pose)</h1>
                  <br>
      
                  <p>
                    The tree pose is also helpful in improving the balance and posture of the body. 
                    It strengthens a number of muscles and works on the lower body parts as opposed to many other workouts and yoga poses.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Stand straight.</li>
                      <li>Balance firmly on your left leg and lift your right leg. Bend your right leg at the knee.</li>
                      <li>Now, place your right foot against the inside of your left thigh. Make sure the toes of your right foot facing downward.</li>
                      <li>Join your palms in prayer at your chest level. Now, lift your arms over your head till your hands are stretched upward.</li>
                      <li>Hold the position while breathing deeply. .</li>
                      <li>Lower your arms to chest level and then separate your palms</li>
                      <li>Straighten your right leg and stand erect again.</li>
                      <li>Repeat the posture with your right leg. </li>
                      
                  </ul>
      
               </div>
   
        </section>

        <section class="container">

            <div class="title">
                <h1>Tips from Experts</h1>
            </div>

          <div class="video">

         
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bnX3i9EgM9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

  
        <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section>






    </body>




</hmtl>

