<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malaria Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
               When one thinks of Monsoons, the thought of Malaria is not far behind. It is a protozoal disease that weakens the immune system. This happens because of the heavy antibiotics used to treat the disease. 
               Malaria is characterised by chills followed by fever, headache, diarrhoea, vomiting, etc.
             </p>
             <br>
             <p>
               To treat malaria, there is no specific diet, but one needs to ensure adequate nutrition to help the body fight the disease. A diet for malaria should focus on boosting the immune system without 
               causing harm to other organs like the kidney, liver or digestive system. It is best that a malaria patient has smaller meals throughout the day.
             </p>
             <br>
             <p>
               When the patient has a malarial fever, the body’s calorie and nutritional requirement increases. This is known as the BMR or Body Metabolic Rate. Also, 
               the need to increase calorie intake depends on the rise in body temperature.
             </p>

            </div>

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                 <h3>1. Increase Protein Intake</h3>
                 <br>

                 <p>
                  There is an increase in the requirement of protein as one loose a lot of tissue. A diet of high carbohydrate and high protein is helpful as the body 
                  can utilise the protein for anabolic and tissue repair and building process. Eating curd, lassi and buttermilk is highly beneficial. High temperature makes 
                  the body weak and reduces appetite. Food rich in protein helps to synthesize immune bodies, which can help to fight parasites. 
               </p>
    
                 <ul class="list">
                    <li>Fish stew</li>
                    <li>Chicken soup</li>
                    <li>Eggs</li>
                    <li>Pulses</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>2. Increase Fluid Intake</h3>
                 <br>

                 <p>
                  Unfortunately, at the time of fever, one experiences appetite loss, less tolerance and therefore, eating food becomes a challenge. To compensate for such a situation, one must
                   drink glucose water, fresh fruit juices, coconut water, a sorbet made with lemon, salt, sugar and water and electoral water.
                 </p>

                 <ul class="list">
                    <li>Rice water</li>
                    <li>Soup</li>
                    <li>Juices of fruits and vegetables</li>
                    <li>Pulse water</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>3. Eat Fat in Moderation</h3>
                 <br>

                 <p>
                  Fats are necessary for the body, but moderation is the key.  Using dairy fats like cream, butter and fats from milk products aid indigestion. These foods contain MCT or medium change triglycerides. 
                  Using excessive fats or eating fried foods can increase the risk of nausea, indigestion and loose bowels.
                 </p>

                 <ul class="list">
                  <li>Fish</li>
                  <li>Fish oil supplements</li>
                  <li>Flax seeds</li>
                  <li>Chia seeds</li>
               </ul>
                 <br>
                
                </div>

                 <div>

                 <h3>4. Eat Nutritious Foods</h3>
                 <br>

                 <p>
                  Consume a high carbohydrate diet. Choose rice over wheat and millets. Rice can be digested easily and can release energy faster. Fresh fruits and vegetables work wonders for malaria patients.
                   According to studies, vitamin A and vitamin C rich fruits and vegetables like beetroot, carrot, papaya, sweet lime, grapes, berries, lemon, orange help to detoxify and boost the 
                   immunity of the patient suffering from malaria.
                 </p>

                 <ul class="list">
                    <li>Eggs</li>
                    <li>Sweet potato</li>
                    <li>Carrots</li>
                    <li>Spinach</li>
                 </ul>
                </div>

            </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                Diabetes increases your risk of heart disease and stroke by accelerating the development of clogged and hardened arteries. 
                Foods containing the following can work against your goal of a heart-healthy diet.
              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

                <h3>1. High Fibre Food</h3>
                <br>

                <p>
                  Very high fibre foods may not sit well in your tummy, so give it a break. Whole grains, whole dals and vegetables with tough fibres may cause gas and indigestion.
                </p>
                <br>

            </div>

             <div>

                <h3>2. Spicy Food And Sauces</h3>
                <br>

                <p>
                  Avoid very spicy and rich sauces. The chatpata food may sound good but it could trigger of a reaction because of the medication you are taking.
                </p>
                <br>

            </div>

             <div>

                <h3>3. Junk Food </h3>
                <br>

                <p>
                  Junk food is a big no when you are suffering from Malaria. Having junk food may even worsen your condition. Junk food is not healthy for a normal body, and during illness, it may wreak havoc.
                </p>
                <br>

             </div>

             <div>

                <h3>4. Avoid Caffeine</h3>
                <br>

                <p>
                  Excessive intake of coffee, tea, or any strong caffeine drink may disturb your digestive system.
                </p>
                <br>

            </div>

         </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1> Malaria diet</h1>
            <br>

            <p>
               The treatment available for malaria focuses mainly on the elimination of Plasmodium parasites from the bloodstream. The main problem a malaria patient suffers from is fever.
               In such a scenario, supplementing medicines with a proper diet for malaria can do great help in curing this ailment
            </p>

         </div>

         <div class="content">
            
            <ul class="list">

                <li>It is important to make sure that the body has adequate nutrients to fight the pathogen.</li>
                <li>It is important to make sure that the body gets a sufficient amount of fluids like electoral water, sugarcane juice, coconut water, etc.</li>
                <li>Moderation is to be maintained for the intake of fats like cream, butter, cheese, etc. This is because these components are hard to digest and the body at this point of time requires easy to digest fast nutrients.</li>
                <li>Also, high fiber foods, processed meat, caffeinated beverages, oily and spicy food must be avoided..</li>
                <li>Cereals, pulses, honey, sugar, fluid intake and steamed food, stew, etc. Will help the body cope up with the disease and recover soon.</li>

            </ul>

         </div>

        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
               In any infection, we may not feel like eating but one must remember that our body needs maximum nutrition to fight at that time. 
               Taking small frequent meals helps and it also keeps the digestive system in check.
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - 2 Toasts with butter and scrambled egg/ paneer bhujia + fresh coconut water</li>
                <li><strong>Lunch</strong> - Rice + Dal + Cucumber Raita.</li>
                <li><strong>Snacks</strong> - Fruit + 5 Almonds+ 1 tsp pumpkin seeds.</li>
                <li><strong>Dinner</strong> - 1 Bowl Rice Kheer/ Sooji kheer with stir-fried veggies like zucchini, carrots, peas, broccoli.</li>
             
            </ul>

        </section>

        <section class="results container">

         <div class="title">

            <h1>What are the results of a malaria diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
               If you are infected by the malarial parasite, eating a healthy diet becomes the cornerstone for fast and healthy recovery and to fight the infection. Food keeps the body fuelled 
               to fight of the parasite attack, our immune system must be fed well to fight well. Good nutrition is an established prerequisite for quick and safe recovery.
            </p>
            <br>

            <p>
               Having strong medicines may disturb our digestive system. Ideally, if you eat well daily and keep your body healthy, recovery from infectious diseases is faster. So, eat well and stay healthy.
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pXs2Gj2spMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

        <section class="footer">
            
         <div class="footer">
            <span>
               <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
           </span>
            
         </div>

        </section>

   <body>

</html>