<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malaria Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='malariawpss.css') }}">


    </head>



    <body>

        <section class="hero_section">


        </section>

        <section>
            <div class="def container">

                <p class="p1">
                     Malaria is a serious and sometimes life-threatening
                     tropical disease that is caused by a parasite and spreads through mosquitoes. Malaria is caused by plasmodium parasites, 
                     which are carried by anophelesmosquitoes.It kills more than 445,000 people a year, many of them children in Africa.
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                    The first evidence of malaria parasites was found in mosquitoes preserved in amber from the Palaeogene period that are approximately 30 million years old.
                    For thousands of years, traditional herbal remedies have been used to treat malaria.The first effective treatment for malaria came from the bark of 
                    the cinchona tree, which contains quinine.
                </p>

            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <h1 class="info_title">Different Types of Malaria:</h1>
                <br>

                <p>
                There are 5 parasite species that cause malaria in humans, and 2 of these species – Plasmodium falciparum and Plasmodium vivax – pose the greatest threat. 
                </p>

                <ul class="list1">

                    <li class="l1">
                        <strong>Plasmodium falciparum</strong> - This is the most common malaria parasite in Africa, and it causes the most malaria-related deaths 
                        in the world. Plasmodium falciparum multiplies very quickly, causing serious blood loss and clogged blood vessels.
                        
                    </li>

                    <li class="l2">
                        <strong>Plasmodium vivax</strong> - This is the malaria parasite most commonly found outside of sub-Saharan Africa, especially in Asia and Latin America. 
                        This species can lie dormant, then rise up to infect your blood months or years after the mosquito bite.
                    </li>
 
                    <li class="l3">
                        <strong>Plasmodium ovale</strong> - Mainly found in the tropical West African region, including Liberia, Ghana, and Nigeria, this is the rarest type of malaria one can contract.
                         It’s rare because the parasite resides in the host’s body for extended periods – sometimes up to years – after the mosquito bite.
                    </li>

                    <li class="l4">
                        <strong> Plasmodium malariae</strong> - This type of malaria is found in the tropical and subtropical regions of Central and South America, Africa, and South East Asia. 
                        It’s not considered as lethal as the others but ranks third in prevalence. Chills and high fever are the usual malaria symptoms.
                    </li>

                    <li class="l5">
                        <strong> Plasmodium knowlesi</strong> - A species that infects primates and has led to human malaria, but the exact mode of transmission remains unclear.
                    </li>

                </ul>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>
                <br>

                <ul class="list2">
                    <li>Fever</li>
                    <li>General feeling of discomfort</li>
                    <li>Headache</li>
                    <li>chills</li>
                    <li>Cough</li>
                    <li>Nausea and vomiting</li>
                    <li>Fatigue</li>
                    <li>Rapid heart rate</li>

                </ul>

            </div>

        </section>

       

        <section class="container treatment">

            <div class="treatment">
                <h1 class="symptoms_title">Treatment</h1>
                <br>

                <ul class="list2">
                    <li>Medication to eliminate the parasite from the bloodstream</li>
                    <li>Supportive care.</li>
                    <li>Hospitalization for those with severe symptoms.</li>
                    <li>Intensive care, in some cases.</li>

                </ul>
                <br>

                <p>
                <h4>The main antimalarial drugs are:</h4>
                </p>
                

                <ul class="list4">
                    <li>Chloroquine</li>
                    <li>Hydroxychloroquine</li>
                    <li>Primaquine</li>
                    <li>Artemisinin-based therapy</li>
                    <li>Atovaquone-proguanil</li>

                </ul>

            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>
                <br>

                <p>
                    Malaria is caused by a single-celled parasite of the genus plasmodium. The parasite is transmitted to humans most commonly through mosquito bites.
                    As the parasites that cause malaria affect red blood cells, people can also catch malaria from exposure to infected blood, including:

                </p>

                
             <ul class="list3">
                <li>From mother to unborn child.</li>
                <li>Through blood transfusions.</li>
                <li>By sharing needles used to inject drugs.</li>
             </ul>
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li><strong>Anaemia</strong> - Anaemia is where the red blood cells are unable to carry enough oxygen to the body's muscles and organs. 
                        This leaves you feeling drowsy, weak and faint..</li>

                    <li><strong>Cerebral malaria</strong> - In rare cases, malaria can affect the brain. This is called cerebral malaria, which can cause your brain to swell.</li>

                    <li><strong>liver failure and jaundice</strong> - Yellowing of the skin and whites of the eyes.</li>

                    <li><strong>shock</strong> - A sudden drop in blood pressure</li>
                 </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>
                <br>

                <p>
                You should also take precautions to avoid mosquito bites. To lower your chances of getting malaria, you should:
                </p>

                <ul class="list5">
                    <li>Apply mosquito repellent with DEET (diethyltoluamide) to exposed skin.</li>
                    <li>Drape mosquito netting over beds.</li>
                    <li>Put screens on windows and doors</li>
                    <li>Treat clothing, mosquito nets, tents, sleeping bags and other fabrics with an insect repellent called permethrin.</li>
                    <li>Wear long pants and long sleeves to cover your skin.</li>
                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="/malariaform"><button>predict</button></a>
            </div>
        </section>


   
        <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section>
         

    </body>
    
</html>