<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parkinson's Disease</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='parkinsonwpss.css') }}">


    </head>



    <body>

        <section class="hero_section">


        </section>

        <section>
            <div class="def container">

                <p class="p1">
                    Parkinson's disease is a condition where a part of your brain deteriorates, 
                    causing more severe symptoms over time. While this condition is best known 
                    for how it affects muscle control, balance and movement, it can also cause 
                    a wide range of other effects on your senses, thinking ability, mental health and more.
                </p>
            </div>
        </section>


        <section class="container history">

            <div class="history">
                <h1 class="history_title">History</h1>
                
                <p class="p2">
                    Parkinson's disease was first medically described as a neurological syndrome by James Parkinson in 1817.
                    The disease was only given its current name in the 1870s when the French neurologist Jean-Martin Charcot named it to honor Parkinson's studies, 
                    which had identified all of the symptoms as relating to a single disease.
                </p>
            </div>

        </section>

        <section class="container info">
            
            <div class="info">

                <h1 class="info_title">There are three main forms of parkinsonism</h1>

                <ul class="list1">

                    <li class="l1">
                        <h5>IDIOPATHIC PARKINSON'S </h5>- Most people with parkinsonism have idiopathic Parkinson's disease, also known as Parkinson's. 
                        Idiopathic means the cause is unknown.
                        
                    </li>

                    <li class="l2">
                        <h5>VASCULAR PARKINSONISM </h5>- Vascular parkinsonism (also known as arteriosclerotic parkinsonism) affects people with restricted blood supply to 
                        the brain. Sometimes people who have had a mild stroke may develop this form of parkinsonism.
                    </li>
 
                    <li class="l3">
                        <h5>DRUG INDUCED PARKINSONISM</h5> - Some drugs can cause parkinsonism. Neuroleptic drugs (used to treat schizophrenia and other psychotic disorders), 
                        which block the action of the chemical dopamine in the brain, are thought to be the biggest cause of drug-induced parkinsonism.
                    </li>

                    <li class="l4">
                        <h5>OTHER TYPES </h5>- Multiple system atrophy (MSA):
                       Like Parkinson's, MSA can cause stiffness and slowness of movement in the early stages.
                       
                       Progressive supranuclear palsy (PSP):
                       PSP affects eye movement, balance, mobility, speech and swallowing.
                       
                       Normal pressure hydrocephalus:
                       Normal pressure hydrocephalus mainly affects the lower half of the body.
                       
                    </li>


                </ul>


            </div>

            

        </section>


        <section class=" container symptoms">

            <div class="symptoms">
                <h1 class="symptoms_title">Symptoms</h1>

                <ul class="list2">
                    <h4 >Motor - related symptoms</h4>
                    Motor symptoms — which means movement-related symptoms — of Parkinson's disease include the following:
                    <li>Slowed movements - Muscle weakness</li>
                    <li>Tremor - While muscles are at rest</li>
                    <li>Rigidity or stiffness - Unchanging stiffness when moving a body part</li>
                    <li>Cramped or small handwriting</li>
                    <li>Drooling - Loss of facial muscle control</li>
                    <br>
                
                    <h5 >Non - motor symptoms</h5>
                    <li>Loss of sense of smell</li>
                    <li>Orthostatic hypotension (low blood pressure when standing up)</li>
                    <li>Constipation </li>
                    <li>Depression.</li>
                </ul>

            </div>

        </section>

        <section class=" container treatment">

            <div class="treatment">

                <h1 class="treatment_title">Treatment</h1>
                
                <p class="p3">
                    Although there is no cure for Parkinson's disease, medicines, surgical treatment, and other therapies can often relieve some symptoms.
                    The main therapy for Parkinson's is levodopa. Nerve cells use levodopa to make dopamine to replenish the brain's dwindling supply. Usually, people take levodopa along with another medication called carbidopa. 
                    Carbidopa prevents or reduces some of the side effects of levodopa therapy — such as nausea, vomiting, low blood pressure, and restlessness 
                </p>
            </div>

        </section>

        <section class="container cause">

            <div class="cause">

                <h1 class="cause_title">Cause</h1>

                <ul class="list3">
                    Parkinson's disease is caused by a loss of nerve cells in the part of the brain called the substantia nigra. 
                    Nerve cells in this part of the brain are responsible for producing a chemical called dopamine.
                    Causes the loss of nerve cells:
                    <li>Environmental factors - pesticides,herbicides etc</li>
                    <li>Genetics - Parkinson's disease can run in families as a result of faulty genes being passed to a child by their parents. </li>
                    <li>cerebrovascular disease - where a series of small strokes cause several parts of the brain to die</li>
                    

                </ul>
                
            </div>
            
        </section>

        <section class="container complication">

            <div class="complication">
                <h1 class="complication_title">Complication</h1>

                <ul class="list4">
                    <li>Blood pressure changes.</li>
                    <li>Chewing and eating problems</li>
                    <li>Thinking difficulties.</li>
                    <li>Swallowing problems</li>
                    <li>Sleep problems and sleep disorders.</li>
                    

                </ul>

        </section>

        <section class="container prevention">

            <div class="prevention">
                <h1 class="prevention_title">Prevention</h1>

                <ul class="list5">
                    <li>Regular aerobic exercise reduces inflammation in the brain, helping to counter the inflammatory signals leading to the development of Parkinson's.</li>
                    <li>Go Organic - Pesticides and herbicides have been heavily implicated in causing Parkinson's.</li>
                    <li>Consume Fresh, Raw Vegetables</li>
                    <li>Incorporate Omega-3 Fatty Acids Into Your Diet.</li>
                    <li>Reduce Your Stress.</li>

                </ul>

        </section>

        <section>

            <div class="container button1">
                <a href="parkinsonform"><button>predict</button></a>
            </div>
        </section>


        <!-- <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section>
          -->


    </body>
    
</html>