<!DOCTYPE html>

<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parkinson's Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        <h1 class="heading">Asanas for Parkinson's</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='parky1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Anulom-vilom (Breathing exercise)</h1>
            <br>

            <p>
                A breathing exercise that requires you to breathe in through one nostril, and breathe out through the other can help in managing symptoms of Parkinson's. 
                Breathing exercises calm down the mind and the body and make it easier to keep anxiety and depression at bay.<br>
                Process:
            </p>
            <br>

            <ul>
                <li>Choose a meditation sitting pose. Keep your spine and neck straight and close your eyes.</li>
                <li>Using your right hand, fold your middle and index fingers toward your palm.</li>
                <li>Place your thumb on your right nostril and your ring finger on your left nostril</li>
                <li>Close your right nostril with your thumb and inhale through your left nostril, slowly and deeply, until your lungs are full. Focus on your breathing.</li>
                <li>Next, release your thumb and close your left nostril with your ring finger.</li>
                <li>Exhale slowly through the right nostril.</li>
                <li>Now practice it in reverse, this time inhaling through the right nostril and exhaling through the left.</li>
            </ul>

         </div>

        </section>
        <br>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='parky2.jpg') }}" alt="">

            <div class="content">
   
               <h1>2. Tadasana (Mountain Pose)</h1>
               <br>
   
               <p>
                The mountain pose or the tadasana can help in improving posture and balance. The mountain pose uses the muscles of your thighs and abdomen and strengthens them.<br>
                Process:
               </p>
               <br>
   
               <ul>
                   <li>Stand on a yoga mat; your feet should be slightly apart.</li>
                   <li>Inhale deeply and slowly raise your arms upwards then interlock your fingers.</li>
                   <li>Raise your heels and stand on your toes. Your toes should be fanned out a little.</li>
                   <li>Place your body weight on your toes and stretch out your shoulders, arms, and chest up.</li>
                   <li>Exhale and return to the starting position.</li>
               </ul>
   
            </div>

        
        </section>
        


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='parky3.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Urdhva Hastasana (Upward Salute)</h1>
                  <br>
      
                  <p>
                    Upward salute is another standing pose and can be beneficial for improving balance and posture. This pose stretches the shoulders and arms 
                    and can help in relieving backaches. You can move to this pose easily from the mountain pose.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Taking a deep inhalation, raise the arms above your shoulders and head and bring the fingers to interlock and as you exhale go on to your toes high up.</li>
                      <li>Inhale again and stretch the arms up and legs moving up with firm rooting of the toes on the ground and feel the stretch at the shoulders and neck.</li>
                      <li>The deeper the stretch upwards the deeper the pose and try and balance the body on the toes bringing the focus to any one point with the eyes..</li>
                      <li>Remain stretched upwards for about 8 breaths</li>
                      <li>Release the pose by stretching the arms backwards and as you exhale bring the arms down and feet on the floor.</li>
                  </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='parky4.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>4. Uttanasana (Standing forward bend)</h1>
                  <br>
      
                  <p>
                    This yoga pose has benefits that range from calming anxiety and depression symptoms to improving balance and posture. 
                    This pose has meditative nature apart from just strengthening muscles.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Stand with your feet under your hips.</li>
                      <li>Extend your hands upwards and bend from your waist.</li>
                      <li>Bury your chin in your chest and let all the energy flow, and your head hang heavy.</li>
                      <li>Remain in the position for up to one minute.</li>
                     
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='parky5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. Standing Apanasana (Standing Knee to Chest)</h1>
                  <br>
      
                  <p>
                    It is another effective yoga for diabetes control. In this pose, you have to bend backward and touch the ground with your palm. This asana helps in stretching 
                    your spine and relaxes it.<br> 
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Use a chair to support your lower body with one hand.</li>
                      <li>Lift one knee into the chest and hold with the opposite hand around the front shin or behind the thigh.</li>
                      <li>Inhale and exhale 5 times.</li>
                      <li>Place the leg down and swap sides.</li>
                      
                  </ul>
      
               </div>
   
        </section>

        <section class="container">

            <div class="title">
                <h1>Tips from Experts</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/g6ocPtR_uZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

        <!-- <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section> -->
         





    </body>




</hmtl>

