<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parkinson's Hospital </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hospitalss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <h1 class="heading">Best Hospitals for Parkinson's disease</h1>



        <section class=" container hosp1  ">


            <img src="{{ url_for('static', filename='park1.jpg') }}" alt="">

            <div class="content">
                
                <h1>Manipal Hospital, HAL Road</h1>
                <br>

                <p>
                    Manipal Hospital is a prominent group of medical centers in the southern part of India. The HAL road facility at Bangalore is the flagship hospital belonging to Manipal group. 
                    The neurosciences department's success can largely be credited to the cutting edge technology and highly experienced medical personnel employed for handling it.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1800 102 4647 
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    Manipal hospital, HAL Old Airport Rd, Kodihalli, Bengaluru, Karnataka 560017
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://manipalhospitals.co.in/manipal_lp/bangalore/doctor-appointment/?utm_campaign=appointments&utm_source=primeaccess&utm_term=manipal%20hospital%20bangalore&gclid=Cj0KCQjwvLOTBhCJARIsACVldV0G6C7OtA6nqvMhdGHpsJZ6nscbiwLqVZSfpbLEXsFnqC-og4B4H54aAiKGEALw_wcB"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.manipalhospitals.com/oldairportroad//">For more details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Manipal+Hospital/@12.9595222,77.6546729,15.5z/data=!4m20!1m14!4m13!1m5!1m1!1s0x3bae13c0c0c6206b:0x12d8d4c39197c7dd!2m2!1d77.6488364!2d12.9583911!1m6!1m2!1s0x3bae13c0c0c6206b:0x12d8d4c39197c7dd!2sManipal+Hospital,+98,+HAL+Old+Airport+Rd,+Kodihalli,+Bengaluru,+Karnataka+560017!2m2!1d77.6488364!2d12.9583911!3m4!1s0x3bae13c0c0c6206b:0x12d8d4c39197c7dd!8m2!3d12.9583911!4d77.6488364">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

         <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='park2.jpg') }}" alt="">

            <div class="content">

                <h1>Vimhans Nayati Super Speciality Hospital,Delhi</h1>
                <br>

                <p>
                    Centre of Excellence for Neurosciences at Vimhans Nayati Super Speciality Hospital 
                    is dedicated to offering holistic and comprehensive care to patients suffering from Parkinson’s disease with the aim of improving the quality of their life.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    01146774677
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    1, Institutional Area, Nehru Nagar, Lajpat Nagar, New Delhi, Delhi 110065
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.vimhansnayati.com/book-an-appointment.php"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.vimhansnayati.com/contact-us.php">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Vimhans+Nayati+Super+Speciality+Hospital/@28.5692749,77.2488674,17z/data=!3m1!4b1!4m5!3m4!1s0x390ce3aafc3c427b:0xe8f2330845f74fc!8m2!3d28.5692702!4d77.2510561">Location</a> </button>
                </div>
                
            </div>
    
        </section>
        <br>

            
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='park3.webp') }}" alt="">

            <div class="content">

                <h1>Apollo Hospital, Greams Road, Chennai</h1>
                <br>

                <p>
                    Apollo Hospitals has been in the forefront for surgery of Parkinson's disease from as early as the '60s and '70s. 
                    It has brought the latest in surgery for Parkinson's disease – Sub Thalamic Nucleus (STN) Deep Brain Stimulation (DBS) to India.
                 </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1860 500 1066 
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    Apollo Hospitals
                    No. 21, Greams Lane,
                    Off Greams Road,
                    Chennai - 600006
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.askapollo.com/physical-appointment/city/chennai"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.apollohospitals.com/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Apollo+Hospital+Chennai/@13.0631824,80.2493488,17z/data=!3m1!4b1!4m5!3m4!1s0x3a52666accdfbb59:0x2e0d1b10a5e06d2f!8m2!3d13.0631824!4d80.2515375">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>

        </section> -->


    </body>

</html>