<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parkinson's Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
               While there is no prescription for a PD-specific diet, to maintain overall good health most people living with Parkinson’s disease should eat a variety of whole grains, 
               vegetables, fruits, milk and  dairy products, and protein-rich foods such as meat and beans. Also consider including nuts, olive oil, fish and eggs to 
               your diet, for their beneficial fats.
             </p>
             <br>
             <p>
               The right foods will also optimize your medications, keep your bones strong, fight constipation and weight loss and maintain general health and fitness.
             </p>
             <br>
             <p>
               Changing your diet can be difficult. Try making one change at a time, like eating a handful of nuts a few times a week or avoiding white bread. 
               Small changes can add up to big benefits.
             </p>

            </div>

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                 <h3>1. Fish oil and omega-3 fatty acids</h3>
                 <br>

                 <p>
                  Some research suggests that fish oil may help slow the progression of Parkinson’s.
                  Studies suggest that omega-3 fats may help reduce nerve inflammation, improve neurotransmission, and slow neurodegeneration. 
                  Therefore, consuming more fatty fish rich in omega-3s or taking an omega-3 supplement may benefit people with Parkinson’s.
                 </p>
    

                 <ul class="list">
                    <li>Mackerel</li>
                    <li>Salmon</li>
                    <li>Sardines</li>
                    <li>Oysters</li>
                    <li>Fish oil</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>2. Foods containing antioxidants</h3>
                 <br>

                 <p>
                  Free radicals are unstable molecules in the body. They are necessary for health. However, if there is an imbalance and there are more free radicals present than necessary, 
                  they can cause damage to fatty tissue, DNA, and proteins in the body.The damage that these free radicals cause is known as oxidative stress. This is a condition that 
                  occurs when the amount of free radicals in the body is too high, which contributes to cellular damage. Some research has linked oxidative stress to the 
                  progression of Parkinson’s.
                 </p>

                 <ul class="list">
                    <li>Blueberries, cranberries, grapes, cherries, strawberries, and raspberries</li>
                    <li>Cocoa powder and cacao products</li>
                    <li>Citrus fruits</li>
                    <li>Green tea</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>3. Foods containing nutrients that people may be deficient in</h3>
                 <br>

                 <p>
                  Some research suggests that people with Parkinson’s often have certain nutrient deficiencies, including deficiencies in iron vitamin B1, vitamin C, zinc, and vitamin D. Some of these deficiencies may 
                  be associated with neuroinflammation and neurodegeneration, which are key factors in Parkinson’s. Therefore, people with Parkinson’s may wish to consume more of the following foods.
                 </p><br>
                 <h3>Foods containing iron:</h3>
                 <ul class="list">
                    <li>Beans</li>
                    <li>Nuts</li>
                    <li>Red meat</li>
                    <li>Dried fruit – such as dried apricots</li>
                 </ul>
                 <br>
                 <h3>Foods containing vitamin B1:</h3>
                 <ul class="list">
                    <li>Peas</li>
                    <li>Bananas</li>
                    <li>Oranges</li>
                    <li>Wholegrain bread</li>
                 </ul>
                 <br>
                 <h3>Foods containing  vitamin C:</h3>
                 <ul class="list">
                    <li>Potatoes</li>
                    <li>Strawberries</li>
                    <li>Peppers</li>
                    <li>Broccoli</li>
                 </ul>
                 <br>
                 <h3>Foods containing zinc:</h3>
                 <ul class="list">
                    <li>Bread</li>
                    <li>Cereal products, such as wheat germ</li>
                    <li>Shellfish</li>
                    <li>Dairy foods – such as cheese</li>
                 </ul>
                 </div>

            </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                  There are a number of foods that may worsen the symptoms of Parkinson’s disease or speed up the progression of the condition. These foods include the following.
              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

                <h3>1. Processed foods</h3>
                <br>

                <p>
                  Some studies suggest that eating a “Western-style” diet may be linked with symptom severity in Parkinson’. 
                  This type of diet is high in processed foods. Some examples of processed foods include canned foods, sodas, breakfast cereals, chips etc.
                </p>
                <br>

            </div>

             <div>

                <h3>2. Certain dairy foods</h3>
                <br>

                <p>
                  Some research suggests that dairy products may be linked with a higher risk of Parkinson’s. For example, one study suggests that the consumption of skim and low fat milk
                  may be associated with an increased risk of the condition. Another study adds that yogurt and cheese consumption may be associated with faster disease progression in 
                  Parkinson’s. Therefore, a person with Parkinson’s may wish to avoid consuming large quantities of these dairy products.
                </p>
                <br>

            </div>

             <div>

                <h3>3. Foods that are hard to chew </h3>
                <br>

                <p>
                  Many people with Parkinson’s have difficulty with chewing and swallowing foods.
                   A person needs medical help if this is the case. A speech and language therapist may be able to help a person overcome this issue.
                </p>
                <br>

             </div>

             <div>

                <h3>4. Foods containing saturated fat and cholesterol</h3>
                <br>

                <p>
                  Although having a higher intake of cholesterol can elevate a person’s Parkinson’s risk, having a higher intake of polyunsaturated fatty acids may reduce the risk.
                  Therefore, a person with Parkinson’s may wish to reduce their intake of cholesterol to help control the symptoms of the condition. 
                  They may also wish to reduce the amount of saturated fat in their diet.
                </p>
                <br>

            </div>

         </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1>Mediterranean Diet</h1>
            <br>

            <p>
               PFNCA recommends a Mediterranean diet for those with Parkinson’s disease because it is generally considered to be one of the healthiest diets you can follow. 
               This diet is based on food that was traditionally eaten in Italy, Greece, and other Mediterranean countries.This diet can be summarized into three categories: 
               foods you should eat (Often, Moderately, and Rarely).
            </p>
       
         </div>
         <h3> Foods that should be often incorporated into your Parkinson’s Diet</h3>

         <div class="content">
            
            <ul class="list">

                <li>Fruits.</li>
                <li>Vegetables.</li>
                <li>Whole grains.</li>
                <li>Seeds.</li>
                <li>Nuts</li>

            </ul>

         </div>

         <h3> Foods that should be moderately incorporated into your Parkinson’s Diet</h3>
         <div class="content">
            
            <ul class="list">

                <li>Seafood.</li>
                <li>Diairy.</li>
                <li>Chicken.</li>
                <li>Turkey.</li>
                <li>Eggs.</li>

            </ul>

         </div>

         <h3> Foods that should be rarely incorporated into your Parkinson’s Diet</h3> 
         <div class="content">
            
            <ul class="list">

                <li>Red meat.</li>
                <li>Sweets.</li>
                <li>Cookies.</li>
                

            </ul>

         </div>
        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
               A healthy and balanced diet for Parkinson disease can improve the well being of the person suffering from it. Consuming antioxidant-rich diet will reduce ‘oxidative stress’ 
               which promote the symptoms of this disease. Antioxidant-rich vegetables are kale, okra, bell pepper, tomatoes, and spinach. Fruits like Blueberries, cranberries, apples, grapes, 
               pears, and blackberries are a great source of antioxidants. Nuts like hazelnuts, pecans, and pistachios can be added to this list. Also, increase in fluids and 
               fibre consumption can be beneficial. Drink six to eight glasses of water every day.
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - Dalia upma-1.5 cup with vegetables(potato,onion,tomato,green peas, carrot)+1 glass milk(toned)</li>
                <li><strong>Lunch</strong> - 4 roti+100gm fish(tuna/sardine/salmon/mackerel with little olive oil)-grilled/stewed+1/2 cup rajmah curry.</li>
                <li><strong>Snacks</strong> - 1/2 cup of beetroot, carrot and broccoli salad with 1 tsp olive oil+1 cup green tea.</li>
                <li><strong>Dinner</strong> - 3 multi grain roti (jowar, bajra, wheat)/ 1 cup parboiled rice+1/2 cup ivy gourd sabji+1 glass buttermilk. 
            </ul>

        </section>

        <section class="results container">

         <div class="title">

            <h1>What are the results of a parkinsosn's diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
               Changing your diet can be difficult. Try making one change at a time, like eating a handful of nuts a few times a week or avoiding white bread. Small changes can add up to big benefits.
               Consult with a registered dietician, who can help you plan menus and make shopping lists for preparing nutritious meals that you like and that account for your individual needs and the 
               timing of your medications.
            </p>
            <br>

            <p>
               Following a balanced diet improves general well-being and boosts your ability to deal with symptoms of the disease. Eating plenty of whole foods, such as fruits and vegetables, lean protein, 
               beans and legumes,  and whole grains, and staying hydrated are key ways to stay energized and healthy overall. 
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/z-dtr_s2i7I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

        <!-- <section class="footer">
            
         <div class="footer">
            <span>
               <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
           </span>
            
         </div>

        </section> -->

   <body>

</html>