<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pneumonia Diet Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='dietplanss.css') }}">

    </head>

    <body>

        <section class="hero_section">

        </section>

        <section class="def container">

             <div class="title">

             <p>
               Pneumonia is an infection that affects the lungs where excess secretions block tubes and fill air sacs, where gas exchange happens. This, therefore, leads to compromised lung function which presents itself as a symptom of Pneumonia. 
               The infection can affect one or both lungs and can be caused by either bacteria, viruses, and/or fungi.
             </p>
             <br>
             <p>
               For mild symptomy,the treatment is given in the form of oral antibiotics along with symptomatic management.In severe disease, the patient is admitted to 
               hospital and given IV antibiotics with or without Oxygen support
             </p>
             <br>
             <p>
               While there are treatments for Pneumonia, the condition can become life-threatening – therefore, treatment should be started in the early stages. During the recovery period, 
               medications and treatment protocol given by a physician is imperative, however, a Pneumonia diet should be followed.
             </p>

            </div>

        </section>

        <section class="recommend-food container">

             <div class="title">

             <h1>Recommended Foods</h1>
             <br>
             
            </div>

            <div class="recommend food">

                 <div>

                 <h3>1. Protein- rich foods</h3>
                 <br>

                 <p>
                  A diet rich in protein is beneficial for the people suffering from pneumonia. They also in repairing the damaged tissues and building the new tissues in the body.
                 </p>
    

                 <ul class="list">
                    <li>Nuts</li>
                    <li>Seeds</li>
                    <li>Beans</li>
                    <li>salmon</li>
                    <li>Sardines</li>
                 </ul>
                 <br>

                </div>

                 <div>

                 <h3>2. Green Leafy Vegetables</h3>
                 <br>

                 <p>
                  Leafy vegetables are packed with nutrients that help in the healing of this respiratory infection. 
                  They contain antioxidants that protect the body against infectious agents.
                 </p>

                 <ul class="list">
                    <li>Kale</li>
                    <li>Lettuce</li>
                    <li>Spinach</li>
                    <li>Cabbage</li>
                 </ul>
                 

                </div>

                 <div>

                 <h3>3. Citrus fruits</h3>
                 <br>

                 <p>
                  The vitamin- C rich citrus fruits  help in boosting the immune system and thus promote a speedy recovery. 
                  They also contain antioxidants that protect the body against foreign agents.
                 </p>
                 
                 <ul class="list">
                    <li>Oranges</li>
                    <li>Berries</li>
                    <li>Kiwi</li>
                    <li>Grapefruit</li>
                 </ul>
                 
            </div>

        </section>

        <section class="food-to-avoid container">

             <div class="title">

                <h1>Foods to Avoid</h1>
                <br>

               <p>
                  For people with pneumonia also known as chronic lung diseases, certain foods can trigger symptom flare-ups, so before reaching for whatever looks tasty,
                   you might want to avoid these foods with lung disease.
              </p>
              <br>

            </div>

         <div class="food-to-avoid">

             <div>

                <h3>1. Excessive Salt</h3>
                <br>

                <p>
                  While a small pinch of salt cooked in a dish may be fine, a salt-heavy diet can be a problem. Salt can make people retain water, and excess water can cause breathing problems. 
                  Instead of using salt or a salt substitute, try herbs and spices to enhance the flavor of food.
                </p>
                <br>

            </div>

             <div>

                <h3>2. Frozen Foods Or Cold Cuts</h3>
                <br>

                <p>
                  Cold cuts are always dangerous for your health. Most cured meats such as bacon, cold cuts, ham, and hotdogs contain additives called nitrates. 
                  Avoid frozen or cold cuts when you are suffering from pneumonia.
                </p>
                <br>

            </div>

             <div>

                <h3>3. Say No To Fried Foods</h3>
                <br>

                <p>
                  Excessive fried food over time can cause weight gain, which increases pressure on the lungs. 
                  Fried foods cause can cause bloating and discomfort by pushing on the diaphragm, making it difficult and uncomfortable to breathe.
                </p>
                <br>

             </div>

             <div>

                <h3>4. Dairy Products</h3>
                <br>

                <p>
                  Avoid dairy products when you are suffering from pneumonia as this can worsen symptoms. While milk is nutritious and filled with calcium, it contains casomorphin,
                   a "breakdown product of milk," which has been known to increase mucus in the intestines.
                </p>
                <br>

            </div>

         </div>  

        </section>


        <section class="plate-method container">

         <div class="title">

            <h1>Diet for Pneumonia patients</h1>
            <br>

           <p>
               Children are more active when compared to adults so their body’s energy requirements are higher. Since their bodies are growing, their protein requirement is higher as well. 
               A diet plan for children diagnosed with Pneumonia should include the following:
                  
            </p><br>
            <h3>Diet for Pneumonia in children</h3>

         </div>

         <div class="content">
            
            <ul class="list">

                <li>Carbs,proteins, and good fats will help in a speedy recovery.</li>
                <li>Mid-day snacks are to be included in the form of nuts and seeds or roasted chana and roasted carrots along with warm milk.</li>
                <li>For a child that is non-vegetarian, eggs or grilled meat low on spices can be included.</li>
                <li>Vegetarians options are limited but foods like paneer, pulses, legumes can be included.</li>
                <li>Fluids in the form of water, coconut water, fresh juices, buttermilk should be included..</li>

            </ul>

         </div>
            <h3>Diet for Pneumonia in adults</h3>
            <div class="content">
            
               <ul class="list">
   
                   <li>Hydration: 3-4 liters of water per day is crucial</li>
                   <li>Whole grains: a Pneumococcal infection leads to fatigue and the body’s requirement for energy increases to fight off the infection. </li>
                   <li>Fruits: a limited quantity of fruits is recommended and fruits with more fiber like apples should be consumed.</li>
                   <li>Probiotics: this helps in maintaining gut health which helps in optimum functioning of the immune system.</li>
                   <li> Green leafy vegetables: These contain a good amount of vitamins and minerals which function as powerful antioxidants and help in preventing damage to the body.</li>
   
               </ul>
   
            </div>


        </section>

        <section class="menu container">

         <div class="title">

            <h1>A Sample Menu</h1>
            <br>

            <p>
               Everyone likes eating well, but with a chronic condition such as lung disease, it's more important to eat healthily. Ask your doctor before you change your diet. 
               And not just eating healthy, maintaining a healthy lifestyle and regular exercises can also help you fight pneumonia.
            </p>
        

        </div>

         <div class="content">
            
            <ul class="list">

                <li><strong>Breakfast</strong> - Chapati (1.5) soaked in Milk (1/2 cup) with added sugar.</li>
                <li><strong>Lunch</strong> - Parboiled rice (1/2 cup) + Fish(1pc.) stew (1/2 cup).</li>
                <li><strong>Snacks</strong> - Tender coconut water (1 cup) + 1 Apple, spinach soup.</li>
                <li><strong>Dinner</strong> - Boiled rice (1/3 cup) + Mashed potato (2) + Ghee (1tsp) + Warm Rasgolla (2).
            </ul>

        </section>

        <section class="results container">

         <div class="title">

            <h1>What are the results of a pneumonia diet?</h1>
            <br>

        </div>

         <div class="content">

            <p>
               Pneumonia makes the body weak and to keep up the energy levels it is quite important to add whole grains in the diet. Whole grains are rich in carbohydrates
                which keeps you feel fuller while adding up to your energy levels. B-vitamins found in whole grains keeps a check on your energy while monitoring the high temperature of the body.
                Apart from this, it is quite important to consume lots and lots of healthy liquids if you are suffering from this disease. Water, fresh vegetable juices, coconut water helps 
                in slackening the mucus while keeping your body hydrated. Make sure to drink these at room temperature. 
            </p>
            <br>

            <p>
               Eating a healthy and nourishing diet can help in reducing the symptoms of pneumonia while ensuring a speedy in the recovery. The correct proportion of nutrient-dense foods on the
                plate not only helps in the maintenance of the lungs but also fuels you up with the energy to fight with the infection.
            </p>

         </div>

        </section>


        <section class="container">

            <div class="title">
                <h1>Doctor's Advice</h1>
            </div>

          <div class="video">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K_r-kMJjh8Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

        <!-- <section class="footer">
            
         <div class="footer">
            <span>
               <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
           </span>
            
         </div>

        </section> -->

   <body>

</html>