<!DOCTYPE html>

<hmtl>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pneumonia Yoga</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='yogass.css') }}">


    </head>



    <body>

         <section class="hero_section">

         </section>

        <h1 class="heading">Asanas for Pneumonia</h1>

        
        <section class="container yoga">


         <img src="{{ url_for('static', filename='pneumoy1.jpg') }}" alt="">

         <div class="content">

            <h1>1. Kapalbhati (Skull shining breath.)</h1>
            <br>

            <p>
                Kapalbhati is a pranayama yoga pose. It improves one’s general immune system. Pranayama yoga is known to 
                remove up to 80 per cent of the toxins in your body. The essential part of pranayama yoga is controlled breathing.<br> 
                Process:
            </p>
            <br>

            <ul>
                <li>Sit comfortably on a yoga mat/blanket.</li>
                <li>Inhale deeply through your nose.</li>
                <li>While inhaling, pull your stomach inward as much as possible.</li>
                <li>Exhale through your nose.</li>
                <li>Repeat this for 20 minutes a day.</li>
            </ul>

         </div>

        </section>



        <section class="container yoga">

         <img class=img1 src="{{ url_for('static', filename='pneumoy2.webp') }}" alt="">

            <div class="content">
   
               <h1>2. Bhastrika Pranayama (Bellows breath)</h1>
               <br>
   
               <p>
                This is another pranayama yoga pose focused on easing pains and worries related to the disease. 
                This exercise is extremely beneficial for people dealing with pneumonia. It not only clears the mind but also helps with breathing difficulties.<br>
                Process:
               </p>
               <br>
   
               <ul>
                   <li>Sit in the Lotus pose on a yoga mat/blanket.</li>
                   <li>Close your eyes.</li>
                   <li>Inhale deeply, and completely fill your lungs with air.</li>
                   <li>Count till 5 slowly while you inhale.</li>
                   <li>Breathe out gently.</li>
                   <li>Again count till 5 slowly while you exhale.</li>
                   <li>Continue these steps for 20 minutes.</li>
               </ul>
   
            </div>

        
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='pneumoy3.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>3. Ustrasana (Camel pose)</h1>
                  <br>
      
                  <p>
                    Easy Pose or Sukhasana, is a foundational posture used for seated meditation instead of Lotus Pose (like the one stated above). 
                    This pose is a little complex as compared to the Bhastrika Pranayama.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Kneel on the yoga mat and place your hands on the hips</li>
                      <li>Simultaneously, arch your back and slide your palms over your feet till the arms are straight.</li>
                      <li>Do not strain or flex your neck but keep it in a neutral position.</li>
                      <li>Stay in this posture for a couple of breaths.</li>
                      <li>Breathe out and slowly come back to the initial pose.</li>
                      <li>Withdraw your hands and bring them back to your hips as you straighten up.</li>
                      <li>Do not hold this posture for a long duration. </li>
                      
                    </ul>
      
                </div>

        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='pneumoy4.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>4. Dandasana (Staff Pose)</h1>
                  <br>
      
                  <p>
                    Dandasana is a simple seated pose that strengthens the deep muscles of your lower back, your abdomen, and your muscles deep in the pelvis. 
                    This improves your overall posture and builds a solid foundation for the healthy alignment of your spine.<br>
                    Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Sit in the Lotus pose on a yoga mat/blanket.</li>
                      <li>Extend your legs together and extended in front of your torso..</li>
                      <li>Sit on your sit bones as much as possible.</li>
                      <li>Engage your thigh muscles and flex both feet.</li>
                      <li>Stack the shoulders directly on top of the hips.</li>
                      <li>Release your shoulders away from your ears.</li>
                      <li>Keep your arms straight and the palms flat on the floor, on either side of your hips, to support your spine.
                        Inhale to lengthen your spine.</li>
                      <li>Try to stay for five deep breaths with the legs fully active.</li>
                     
                  </ul>
      
               </div>
   
        </section>


        <section class="container yoga">

            <img class=img1 src="{{ url_for('static', filename='pneumoy5.jpg') }}" alt="">
   
               <div class="content">
      
                  <h1>5. Nirvana Pranayam (Pursed lip breathing)</h1>
                  <br>
      
                  <p>
                    Nirvana Pranayam is a breathing routine devised to make your breaths more effective by making them slower.IT helps in regulating the breath 
                    and re-orienting the functions of the mind and the body. In addition to that it also helps in regulating the oxygen in the blood that leads to a 
                    healthy body condition to live as well as fight toxicity and infections within that can occur from time to time, given the new age life condition we are exposed to.<br>
                     Process:
                  </p>
                  <br>
      
                  <ul>
                      <li>Sit at a calm and secluded spot.</li>
                      <li>Relax and prepare yourself for this asana.</li>
                      <li>Breathe in slowly through your nose.</li>
                      <li>Bring your lips closer and pucker/squeeze them.</li>
                      <li>While exhaling, breathe through your lips.</li>
                      <li>Continue doing so 2-3 times at an interval or as long as you are breathed in.</li>
                      <li>Repeat this at least 10-15 times.</li>
                      
                  </ul>
      
               </div>
   
        </section>
        <br>

        <section class="container">

            <div class="title">
                <h1>Tips from Experts</h1>
            </div>

          <div class="video">

           
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W3PTLVhSN2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

        </section>

   
        <!-- <section class="footer">
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
            </div>
        </section> -->
         






    </body>




</hmtl>

