<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pneumonia Hospital </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hospitalss.css') }}">


    </head>



    <body>

        <section class="hero_section">

        </section>

        <h1 class="heading">Best Hospitals for Pneumonia</h1>



        <section class=" container hosp1  ">


            <img src="{{ url_for('static', filename='pnemo1.jpg') }}" alt="">

            <div class="content">
                
                <h1>Indraprastha Apollo Hospital, Delhi</h1>
                <br>

                <p>
                    The Indraprastha Apollo Hospital in Delhi has a specialized department for Addressing pulmonary and sleep related issues. 
                    Some of the best pulmonologists in India serve this hospital that boasts of excellent facilities and hi-tech environment to treat patients.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1860-500-1066 
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                     Indraprastha Apollo Hospital, Mathura Rd, New Delhi, Delhi 110076
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.askapollo.com/physical-appointment/city/delhi"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://delhi.apollohospitals.com/contact-us/">For more details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Indraprastha+Apollo+Hospitals/@28.5305498,77.1467714,11z/data=!4m9!1m2!2m1!1sindraprastha+hospital!3m5!1s0x390ce6ad13eaaa99:0x3bc07ad476bc6d77!8m2!3d28.5413093!4d77.2832182!15sChVpbmRyYXByYXN0aGEgaG9zcGl0YWxaFyIVaW5kcmFwcmFzdGhhIGhvc3BpdGFskgEQZ2VuZXJhbF9ob3NwaXRhbJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VObk5YUXpiMWhCRUFFsAEA?hl=en">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='pnemo2.jpg') }}" alt="">

            <div class="content">

                <h1>Apollo Hospital, Greams Road, Chennai</h1>
                <br>

                <p>
                    Apollo Hospital, Greams Road has established a prominent position in the health-care industry by serving patients with best treatments. 
                    It is recognized among the top pulmonology centers of India. The center of respiratory medicines serves best in class treatments and health-care 
                    facilities in order to treat patients with respiratory disorders.
                 </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    1860 500 1066 
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    
                    Apollo Hospitals
                    No. 21, Greams Lane,
                    Off Greams Road,
                    Chennai - 600006
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://www.askapollo.com/physical-appointment/city/chennai">For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.apollohospitals.com/">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Apollo+Hospital+Chennai/@13.0631824,80.2493488,17z/data=!3m1!4b1!4m5!3m4!1s0x3a52666accdfbb59:0x2e0d1b10a5e06d2f!8m2!3d13.0631824!4d80.2515375"">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <br>

        
        <section class=" container hosp1  ">

            <img src="{{ url_for('static', filename='pnemo3.jpg') }}" alt="">

            <div class="content">

                <h1>Nanavati Hospital, Mumbai</h1>
                <br>

                <p>
                    Nanavati Hospital is among the most recognized centers of health-care excellence across the country. The comprehensive unit of pulmonology is one of the eminent 
                    speciality centers of this hospital.
                </p>
                <br>

                <h2>Phone Number</h2>
                <br>
                <p>
                    022 2626 7500
                </p>
                <br>

                <h2>Address</h2>
                <br>
                <p>
                    Nanavati Hospital
                    Swami Vivekanand Road, LIC Colony,
                    Suresh Colony, Vile Parle West,
                    Mumbai, Maharashtra - 400056
                </p>
                <br>

                <div class="btn">
                    <button class="btn1"> <a href="https://vc.nanavatihospital.org/hospitals/5/specialities/184/doctors"> For Appoinment</a> </button>
                    <button class="btn2">  <a href="https://www.nanavatimaxhospital.org/?utm_source=Google&utm_medium=gmb&utm_campaign=nanavati-profile">For more Details</details></a></button>
                    <button class="btn3">  <a href="https://www.google.com/maps/place/Nanavati+Max+Super+Speciality+Hospital/@19.0953847,72.8400141,18.83z/data=!4m5!3m4!1s0x3be7c9cf3d7e6811:0x44a05f975f97e7e0!8m2!3d19.0958737!4d72.8401187">Location</a> </button>
                </div>
                
            </div>
    
        </section>

        <!-- <section class="footer">
            
            <div class="footer">
                <span>
                    <i style="color: white;" class="fa-1.5x fa-brands fa-unity"></i> Serendipitous
                </span>
                
            </div>

        </section> -->


    </body>

</html>