<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pneumonia Form</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="stylesheet" href="{{ url_for('static', filename='pneumoniass.css') }}">
       <script>
        function showloading() {
            image = document.getElementById('loading_image');
            image.style.display = 'inline'
        }
        </script>
    </head>
    <body>
        <header class="container">
            <div id= "left_m">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                            {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
            </div>
          
          
            <h3 style="margin: auto;width: 80%; text-align: center; margin-top: 20px;  text-transform: uppercase">pneumonia Detection</h3>
          
             <div style="text-align: center; margin-top: 20px">
                 <img style="max-width: 600px; border-radius: 10px;" src="{{ url_for('static', filename='Pneumoniafmimg.webp') }}"/>
             </div>
             <br>
          
            <form action="/upload11" method="post" enctype="multipart/form-data" style="margin-top: 30px; width: 80%; text-align: center; margin: auto;" onsubmit="showloading()">
                <span class=" btn-file">
                   Upload Chest X-Ray Image <input type="file" name="image">
              </span ><br><br>
              <span class=" btn-file">
                 submit<input type="submit" value="Upload">
           </span ><br><br>

                  <!-- <input type="submit" value="Upload" class="btn-file btn"> -->

            </form><div style="text-align:center">
              <div style="text-align: center">
                  <img id="loading_image" style="display: none" src="{{ url_for('static', filename='loading.gif')}}">
              </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              
          </header>
    </body>
</html>